{extend name='admin@main'}

{block name="content"}

<!--<form onsubmit="return false;" id="GoodsForm" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">-->

<!--<div class="layui-card-body think-box-shadow padding-left-40">-->


<!--<div class="layui-form-item">-->
<!--<span class="color-green label-required-prev">轮播展示图片</span>-->
<!--<table class="layui-table">-->
<!--<thead>-->
<!--<tr>-->
<!--<th class="text-left">展示图片</th>-->
<!--</tr>-->
<!--<tr>-->
<!--<td width="auto" class="text-left"><input name="image" type="hidden" value="{$info.image|default=''}"></td>-->
<!--</tr>-->
<!--</thead>-->
<!--</table>-->
<!--<script> $('[name="image"]').uploadMultipleImage()</script>-->
<!--</div>-->

<!--<div class="layui-form-item text-center">-->
<!--<button class="layui-btn" type="submit">保存图片</button>-->
<!--<button class="layui-btn layui-btn-danger" ng-click="hsitoryBack()" type="button">取消编辑</button>-->
<!--</div>-->

<!--</div>-->
<!--</form>-->


<form onsubmit="return false;" id="GoodsForm" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body think-box-shadow padding-left-40">

        <div class="layui-form-item layui-row layui-col-space15">

            <label class="layui-col-xs9 relative">
                <span class="color-green">跳转链接</span>
                <input type="text" name="id" value="{$info.id}">
                <input type="hidden" name="_csrf_" value="{:systoken('admin/movie/edit_banner')}">
            </label>
        </div>
        <div class="layui-form-item">

        </div>


        <div class="layui-form-item block">
            <span class="label-required-prev color-green">图片</span>

            <p width="auto" class="text-left"><input name="image" type="hidden" value="{$info.image|default=''}"></p>
            <script> $('[name="image"]').uploadMultipleImage()</script>
            <p> 图片只能保存一张,更换请先删除</p>
        </div>

        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">语言</span>
                <select name="type" required class="layui-select full-width" lay-ignore>
                    <option value="">选择语言</option>
                    <option value="cn" {if $info.type == 'cn'}selected{/if}>中文</option>
                    <option value="en" {if $info.type == 'en'}selected{/if}>英文</option>
                </select>
            </label>
        </div>

        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">电影</span>
                <select name="movie_id" required class="layui-select full-width" lay-ignore>
                    <option value="">选择电影</option>
                    {volist name="movies" id="vo"}
                    <option value="{$vo.id}" {if $info.movie_id == $vo.id}selected{/if}>{$vo.name}</option>
                    {/volist}
                </select>
            </label>
        </div>

        <div class="layui-form-item text-center">
            <button class="layui-btn" type="submit">提交</button>
            <button class="layui-btn layui-btn-danger" ng-click="hsitoryBack()" type="button">取消</button>
        </div>

    </div>
</form>


{/block}