<fieldset>
    <legend>条件搜索</legend>
    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">电影名称</label>
            <div class="layui-input-inline">
                <input name="title" value="{$Think.get.title|default=''}" placeholder="请输入电影名称" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">是否预售</label>
            <div class="layui-input-inline">
                <select name="is_presale" id="selectList">
                    <option value="">所有电影</option>
                    <option value="-1">非预售电影</option>
                    <option value="1">预售电影</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        </div>
    </form>
    <script>
        var test = "{$Think.get.cid|default='0'}";
        $("#selectList").find("option[value="+test+"]").prop("selected",true);

        form.render()
    </script>
</fieldset>