{extend name='main'}

{block name="button"}
<button data-open='{:url("add_goods_presale")}' data-title="添加预售电影" class='layui-btn'>添加预售电影</button>
{/block}

{block name="content"}

<div class="think-box-shadow">
    {include file='movie/goods_search'}

    <table class="layui-table margin-top-15" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='text-left nowrap'>电影ID</th>
            <th class='text-left nowrap'>电影名称</th>
            <th class='text-left nowrap'>电影名称(英)</th>
            <th class='text-left nowrap'>电影票价格</th>
            <th class='text-left nowrap'>电影票数库存</th>
            <th class='text-left nowrap'>自行上传的图片</th>
            <th class='text-left nowrap'>是否预售电影/奖励发放时间</th>
            <th class='text-left nowrap'>添加时间</th>
            <th class='text-left nowrap'>上映时间</th>
            <th class='text-left nowrap'>状态</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-left nowrap'>{$vo.id}</td>
            <td class='text-left nowrap'>{$vo.name}</td>
            <td class='text-left nowrap'>{$vo.name_en}</td>
            <td class='text-left nowrap'>{:config('base_currency')}{$vo.price}</td>
            <td class='text-left nowrap'>{$vo.stock}</td>
            <td class='text-left nowrap'>{if $vo.image_upload}<a href="{$vo.image_upload}" target="_blank"><img src="{$vo.image_upload}" width="50px"></a>{/if}</td>
            <td class='text-left nowrap'>
                {if $vo['is_presale']}是{else}否{/if}/{if $vo['release_date']}{$vo['release_date']}{else}-{/if}
            </td>
            <td class='text-left nowrap'>
                {$vo.addtime|format_datetime}
            </td>
            <td class='text-left nowrap'>{$vo.playtime}</td>
            <td class='text-left nowrap'>
            {if auth("edit_goods")}
                <a class="layui-btn layui-btn-xs layui-btn" data-open="{if $vo.is_presale eq 1}{:url('edit_goods_presale',['id'=>$vo.id])}{else}{:url('edit_goods',['id'=>$vo.id])}{/if}" data-value="id#{$vo.id}" style='background:green;'>编辑</a>
                {if ($vo.status == 1)}
                <a class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('edit_goods_status',['status'=>2,'id'=>$vo.id])}" data-value="id#{$vo.id};status#2" style='background:red;'>禁用</a>
                {elseif ($vo.status == 2) /}
                <a class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('edit_goods_status',['status'=>1,'id'=>$vo.id])}" data-value="id#{$vo.id};status#1" style='background:green;'>启用</a>
                {/if}
            {/if}
            {if auth("del_goods")}
                <!-- <a class="layui-btn layui-btn-xs layui-btn" style='background:red;' onClick="del_goods({$vo.id})">删除</a> -->
            {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
<script>
    var test = "{$Think.get.is_presale|default=''}";
    if (test)
        $("#selectList").find("option[value="+test+"]").prop("selected",true);
    function del_goods(id){
         layer.confirm("确认要删除吗，删除后不能恢复",{ title: "删除确认" },function(index){
            $.ajax({
                type: 'POST',
                url: "{:url('del_goods')}",
                data: {
                    'id': id,
                    '_csrf_': "{:systoken('admin/deal/del_goods')}"
                },
                success:function (res) {
                    layer.msg(res.info,{time:2500});
                    location.reload();
                }
            });
        },function(){});
    }
</script>
{/block}
