{extend name='main'}

{block name="content"}

<div class="think-box-shadow">
    {include file='movie/order_list_report_search'}
    <table class="layui-table margin-top-15" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='text-left nowrap'>用户名</th>
            <th class='text-left nowrap'>总购买金额</th>
            <th class='text-left nowrap'>总购买票数</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-left nowrap'>{if ($vo.is_jia == 1 && $vo.is_free == 0)}<font style='color:red;'>{$vo.username}<br>{$vo.tel}</font>{elseif($vo.is_jia == 1 && $vo.is_free == 1)}<font style='color:#ff8f00;'>{$vo.username}<br>{$vo.tel}</font>{elseif ($vo.parent_id == 0)}<font style='color:#009688;'>{$vo.username}<br>{$vo.tel}</font>{else}{$vo.username}<br>{$vo.tel}{/if}</td>
            <td class='text-left nowrap'>{:config('base_currency')}{$vo.total_num}</td>
            <td class='text-left nowrap'>{$vo.total_count}</td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
{/block}
