{extend name='main'}

{block name="content"}

  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">

  <div class="layui-fluid">
  
    <div class="layui-row layui-col-space15">

      <div class="layui-col-sm6 layui-col-md2">
        <div class="layui-card">
          <div class="layui-card-header">
            今日充值量
            <span class="layui-badge layui-bg-green layuiadmin-badge">今</span>
          </div>
          <div class="layui-card-body layuiadmin-card-list">
            <p class="layuiadmin-normal-font">{$today_user_recharge|number_format=2}</p>
          </div>
        </div>
        <div class="layui-card">
          <div class="layui-card-header">
            今日提现量
            <span class="layui-badge layui-bg-green layuiadmin-badge">今</span>
          </div>
          <div class="layui-card-body layuiadmin-card-list">
            <p class="layuiadmin-normal-font">{$today_user_deposit|number_format=2}</p>
          </div>
        </div>
        <div class="layui-card">
          <div class="layui-card-header">
            今日总盈亏
            <span class="layui-badge layui-bg-green layuiadmin-badge">今</span>
          </div>
          <div class="layui-card-body layuiadmin-card-list">
            <p class="layuiadmin-normal-font">{$today_user_recharge-$today_user_deposit|number_format=2}</p>
            <p>今日充值量-今日提现量</p>
          </div>
        </div>
        <div class="layui-card">
          <div class="layui-card-header">
            今日赠送统计
            <span class="layui-badge layui-bg-green layuiadmin-badge">今</span>
          </div>
          <div class="layui-card-body layuiadmin-card-list">
            <p class="layuiadmin-normal-font">{$today_fuli_present}</p>
          </div>
        </div>
      </div>
	  
      <div class="layui-col-sm6 layui-col-md2">
        <div class="layui-card">
          <div class="layui-card-header">
            昨日充值量
            <span class="layui-badge layui-bg-blue layuiadmin-badge">昨</span>
          </div>
          <div class="layui-card-body layuiadmin-card-list">
            <p class="layuiadmin-normal-font">{$yes_user_recharge|number_format=2}</p>
          </div>
        </div>
        <div class="layui-card">
          <div class="layui-card-header">
            昨日提现量
            <span class="layui-badge layui-bg-blue layuiadmin-badge">昨</span>
          </div>
          <div class="layui-card-body layuiadmin-card-list">
            <p class="layuiadmin-normal-font">{$yes_user_deposit|number_format=2}</p>
          </div>
        </div>

        <div class="layui-card">
          <div class="layui-card-header">
            提现中金额
            <span class="layui-badge layui-bg-red layuiadmin-badge">总</span>
          </div>
          <div class="layui-card-body layuiadmin-card-list">
            <p class="layuiadmin-normal-font">{$user_depositing|number_format=2}</p>
            <p>未审核提现金额</p>
          </div>
        </div>
        <div class="layui-card">
          <div class="layui-card-header">
            昨日赠送统计
            <span class="layui-badge layui-bg-blue layuiadmin-badge">昨</span>
          </div>
          <div class="layui-card-body layuiadmin-card-list">
            <p class="layuiadmin-normal-font">{$yes_fuli_present}</p>
          </div>
        </div>
      </div>

	  
      <div class="layui-col-sm6 layui-col-md3">
        <div class="layui-card">
          <div class="layui-card-header">
            本月总充值
            <span class="layui-badge layui-bg-orange layuiadmin-badge">月</span>
          </div>
          <div class="layui-card-body layuiadmin-card-list">
            <p class="layuiadmin-normal-font">{$month_user_recharge|number_format=2}</p>
          </div>
        </div>
        <div class="layui-card">
          <div class="layui-card-header">
            本月总提现
            <span class="layui-badge layui-bg-orange layuiadmin-badge">月</span>
          </div>
          <div class="layui-card-body layuiadmin-card-list">
            <p class="layuiadmin-normal-font">{$month_user_deposit|number_format=2}</p>
          </div>
        </div>
        <div class="layui-card">
          <div class="layui-card-header">
            本月总盈利
            <span class="layui-badge layui-bg-orange layuiadmin-badge">月</span>
          </div>
          <div class="layui-card-body layuiadmin-card-list">
            <p class="layuiadmin-normal-font">{$month_user_recharge-$month_user_deposit|number_format=2}</p>
            <p>
              本月总充值-本月总提现
            </p>
          </div>
        </div>
        <div class="layui-card">
          <div class="layui-card-header">
            本月赠送统计
            <span class="layui-badge layui-bg-orange layuiadmin-badge">月</span>
          </div>
          <div class="layui-card-body layuiadmin-card-list">
            <p class="layuiadmin-normal-font">{$month_fuli_present}</p>

          </div>
        </div>
      </div>
	  

		  
      <div class="layui-col-sm6  layui-col-md5">
        <div class="layui-card">
          <div class="layui-card-header">
            会员统计
          </div>
          <div class="layui-card-body layuiadmin-card-list">

                <div class="layui-carousel layadmin-carousel layadmin-shortcut" lay-anim="" lay-indicator="inside" lay-arrow="none">
                  <div carousel-item="">
                    <ul class="layui-row layui-col-space10 layui-this">
                      <li class="layui-col-xs4">
                        <p class="layuiadmin-normal-font">{$today_users_num}</p>
                        <p>今日新增会员</p>
                      </li>
                      <li class="layui-col-xs4">
                        <p class="layuiadmin-normal-font">{$yes_users_num}</p>
                        <p>昨日增加会员</p>
                      </li>
                      <li class="layui-col-xs4">
                        <p class="layuiadmin-normal-font">{$today_users_recharge_num}</p>
                        <p>今日首充会员</p>
                      </li>
					  <hr style="padding:0px;">
                      <li class="layui-col-xs4">
                        <p class="layuiadmin-normal-font">{$today_users_deal_num}</p>
                        <p>今日下单活跃会员</p>
                      </li>
                      <li class="layui-col-xs4">
                        <p class="layuiadmin-normal-font">{$today_users_deals_num}/{$today_users_deals_all_num}</p>
                        <p>今日下单/满单会员</p>
                      </li>
                      <li class="layui-col-xs4">
                        <p class="layuiadmin-normal-font">{$users_num}/{$users_all_num}</p>
                        <p>会员总数/总会员数</p>
                      </li>
                    </ul>
                  </div>
          </div>
        </div>
      </div>
      </div>
	  
    </div>
	  
	 <div class="layui-row layui-col-space15">

    </div>
  </div>

{/block}
