body {
    position: relative;
    max-width: 46.875rem;
    overflow: hidden;
    margin: 0 auto;
    font-size: .875rem;
}
.van-nav-bar {
    background-color: #0075c3!important;
}
.van-nav-bar--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.van-nav-bar {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 46px;
    line-height: 1.5;
    text-align: center;
    background-color: #fff;
    -webkit-user-select: none;
    user-select: none;
}
.van-nav-bar__title {
    max-width: 60%;
    margin: 0 auto;
    color: #323233;
    font-weight: 500;
    font-size: 16px;
}
.van-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.van-nav-bar__title {
    font-size: 1.125rem;
    color: #fff;
}

.boxes{
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px #888;
    overflow: hidden;
    width: 400px;
    margin:50px auto 30px;
    position: relative;
    z-index: 2;
    padding: 0 5px;
}

.van-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 44px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    -webkit-appearance: none;
} 
.van-button--danger {
    color: #fff;
    border-color: transparent;
    background: #0075c3;
}
.van-button {
    border-radius: .3125rem;
}
.van-button--block {
    display: block;
    width: 100%;
}
.van-button--normal {
    padding: 0 15px;
    font-size: 14px;
}
.van-button {
    cursor: pointer;
}
.btn-home{
    font-size: 16px;
    margin: 15px auto;
    width:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
}
.van-cell {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 16px;
    overflow: hidden;
    color: #323233;
    font-size: 14px;
    line-height: 24px; 
    align-items: center; 
    background-color: #fff;
    color: #646566;
    margin: 1px 0;
    border-bottom: 1px solid #e8e8e8;
}
.van-cell__title, .van-cell__value {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.van-cell .van-cell__value em{
    font-size: 20px;
    color: #0075c3;
    font-style:normal;
    padding-left:2px;
}