<style>
.footer-box {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #757575;
    background: #fff;
    box-shadow: 1px 2px 3px 4px #f5f5f5;
    z-index: 999
}

.footer-box ul {
    overflow: hidden;
    padding: .08rem 0
}

.footer-box ul li {
    float: left;
    width: calc((100vw - 2.2rem)/4);
    padding-top: .12rem;
    height: 1.286667rem;
    text-align: center;
}

.footer-box ul li img {
    width: auto;
    height: .51rem;
    display: none;
    margin: 0 auto;
    margin-bottom: .0622rem
}

.footer-box ul li img:first-child, .footer ul li img:nth-child(2) {
    display: block
}

.footer-box ul li img:nth-child(2) {
    display: none
}

.footer-box ul li.on img:first-child, .footer ul li img:nth-child(2) {
    display: none
}

.footer-box ul li.on img:nth-child(2) {
    display: block
}

.footer-box ul li p {
    font-size: .40rem;
    text-align: center
}

.footer-box ul li.on p {
    color: red
}


.mid-icon {
    position: absolute;
    bottom: .1rem;
    height: 2.2rem !important;
    width: 2.2rem !important;
}

.mid-icon-name {
    display: block;
    width: 2.2rem;
    position: absolute;
    text-align: center;
    bottom: .5rem;
    color: #fff !important;
}
</style>
<div class="footer-box">
    <ul>
        <li onclick="window.location.href='{:url(\'index/home\')}'" >
            <img src="__ROOT__/public/img/image/home.png?v=11"/>
            <img src="__ROOT__/public/img/image/homeClick.png"/>
            <p>{:lang('Home')}</p>
        </li>
        <li onclick="window.location.href='{:url(\'support/index\')}?id='+`{$Think.session.user_id}`+'&username='+`{$Think.session.user_name}`+'&tel='+`{$Think.session.user_tel}`">
            <img src="__ROOT__/public/img/image/contact.png" />
            <img src="__ROOT__/public/img/image/contactClick.png"/>
            <p >{:lang('Service')}</p>
        </li>
        <li onclick="window.location.href='{:url(\'rot_order/platform\')}'" class="on" style="width: 2.2rem !important;">
            <img>
            <img src="__ROOT__/public/img/image/tabbarShop.png" class="mid-icon"/>
            <p  class="mid-icon-name">{:lang('Shop')}</p>
        </li>
        <li onclick="window.location.href='{:url(\'order/index\')}'">
            <img src="__ROOT__/public/img/image/record.png"/>
            <img src="__ROOT__/public/img/image/recordClick.png"/>
            <p>{:lang('record')}</p>
        </li>
        <li onclick="window.location.href='{:url(\'my/index\')}'" >
            <img src="__ROOT__/public/img/image/my.png" />
            <img src="__ROOT__/public/img/image/myClick.png"/>
            <p >{:lang('My')}</p>
        </li>
    </ul>
</div>
