{extend name='main'}

{block name="content"}

      <div class="layadmin-tabsbody-item layui-show" style="background-color: #fff;padding-left: 20px;padding-right: 20px;padding-top: 20px;"> 
        <div class="think-box-shadow store-total-container notselect">
			<div class="layui-row">
        
        <div class="layui-col-md12">
          <div class="layui-card" style="padding: 10px;">
              <form action="/agent/index" class="layui-form search" method="POST">
                  <div class="layui-form-item">  
                      <div class="layui-inline">
                          <label class="layui-form-label">提交时间</label>
                          <div class="layui-input-inline">
                              <input data-date-range type="text" id="datetime_range" name="datetime_range" value="{$data.datetime_range}" class="layui-input" readonly>
                          </div>
                      </div> 
                      <div class="layui-inline" style="text-align: center;">
                          <button type="button" class="layui-btn" data-type="search">搜索</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>


				<div class="layui-col-md12">
					 <!-- <div class="layui-carousel layadmin-carousel layadmin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 280px;"> -->
                  <!-- <div carousel-item=""> -->
                    <ul class="layui-row layui-col-space10 layui-this">
                      
						<li class="layui-col-xs3">
							<div class="layui-card">
								<div class="layui-card-header">团队总人数(个)</div>
								<div class="layui-card-body layuiadmin-card-list">
									<p class="layuiadmin-normal-font">{$data.teamNumber}</p>
								</div>
							</div>
						</li>
						<li class="layui-col-xs3">
							<div class="layui-card">
								<div class="layui-card-header">团队充值</div>
								<div class="layui-card-body layuiadmin-card-list">
									<p class="layuiadmin-normal-font">{$data.teamRecharge}</p>
								</div>
							</div>
						</li>
						<li class="layui-col-xs3">
							<div class="layui-card">
								<div class="layui-card-header">团队提现</div>
								<div class="layui-card-body layuiadmin-card-list">
									<p class="layuiadmin-normal-font">{$data.teamWithdrawal}</p>
								</div>
							</div>
						</li>
						<li class="layui-col-xs3">
							<div class="layui-card">
								<div class="layui-card-header">首充人数(个)</div>
								<div class="layui-card-body layuiadmin-card-list">
									<p class="layuiadmin-normal-font">{$data.firstRechargeToday}</p>
								</div>
							</div>
						</li>
						<li class="layui-col-xs3">
							<div class="layui-card">
								<div class="layui-card-header">首推人数(个)</div>
								<div class="layui-card-body layuiadmin-card-list">
									<p class="layuiadmin-normal-font">{$data.directlyUnder}</p>
								</div>
							</div>
						</li>
						<li class="layui-col-xs3">
							<div class="layui-card">
								<div class="layui-card-header">团队新增(个)</div>
								<div class="layui-card-body layuiadmin-card-list">
									<p class="layuiadmin-normal-font">{$data.newReg}</p>
								</div>
							</div>
						</li>
						<li class="layui-col-xs3">
							<div class="layui-card">
								<div class="layui-card-header">团队总人数(个)</div>
								<div class="layui-card-body layuiadmin-card-list">
									<p class="layuiadmin-normal-font">{$data.teamNumber}</p>
								</div>
							</div>
						</li>
						<li class="layui-col-xs3">
							<div class="layui-card">
								<div class="layui-card-header">团队总人数(个)</div>
								<div class="layui-card-body layuiadmin-card-list">
									<p class="layuiadmin-normal-font">{$data.teamNumber}</p>
								</div>
							</div>
						</li>
                    </ul>
                     
                  <!-- </div> -->
                <!-- <div class="layui-carousel-ind"><ul><li class="layui-this"></li><li></li></ul></div><button class="layui-icon layui-carousel-arrow" lay-type="sub"></button><button class="layui-icon layui-carousel-arrow" lay-type="add"></button></div>
    			</div>
			</div> -->
        </div>
      </div>
      
{/block}