:root {
    --gold:#DA9F27;
    --blue: #0D3C8F;
    --red: #FF2C23;
    --green: #0D8C39;
    --info: #518ffc;
    --light-gray: #F6F6F6;
    --text-color: #dfdfdf;
    --dark-gray: #acacac;
    --black: #040707;
    --black2: #1a1a1a ;
}

body,
html {
    background-color: var(--black);
    height: 100vh;
    overflow: auto;
    padding: 0 !important;
    color: var(--text-color);
}
.footer-box{
    background: var(--black) !important;
    box-shadow: 1px 2px 3px 4px #191919 !important;
}
h3{
    font-size:18px;
    margin-bottom: 10px;
}
h4{
    font-size:15px;
    margin-bottom: 10px;
}
p{
    font-size:16px !important;
    line-height: 1.5;
}

div,
label{
    font-size:16px;
}

span{
    font-size:14px !important;
}

#app {
    overflow: hidden;
}

#app .main {
    overflow: auto;
    height: 100vh;
    /* padding-bottom: 60px !important; */
    margin: 0 !important;
    padding: 20px;
    padding-top: 70px;
    background: var(--black) !important;
}

.main.no-pad {
    padding: 55px 0 100px 0 !important;
}

.main.no-header {
    padding-top: 0 !important;
}

label {
    color: var(--text-color);
}
.text-white{
    color: var(--text-color);
}
.text-dark{
    color: #333;
}
.text-gray{
    color:var(--text-color);
}
.text-white {
    color: white !important;
}

.text-red {
    color: var(--red) !important;
}

.text-blue {
    color: var(--blue) !important;
}

.text-gold {
    color: var(--gold) !important;
}

.bg-black{
    background: var(--black) !important;
}
.bg-gray-black{
    background: var(--black2) !important;
}

.bg-dark-gray {
    background-color: var(--dark-gray) !important;
}

.bg-red {
    background-color: var(--red) !important;
}

.bg-gold-gradient{

    background-color: var(--gold) !important;
    /* background: linear-gradient(to right, #d38c2b , #a46005) !important; */
}

.bg-gold{
    background-color: var(--gold) !important;
}

.bg-white{
    background-color: white !important;
}

.btn,
.btn-cancel,
.save-btn,
.form-buttom {
    background: #eee;
    padding: 12px 28px;
    border-radius: 5px;
    border: 0 !important;
    line-height: unset !important;
    font-size:16px;
}

.btn-full {
    width: 100%
}

.btn.btn-primary,
.save-btn {
    background: var(--gold) !important;
    color: white;
}

.btn.btn-success {
    background: var(--green);
    color: white;
}

.btn.btn-info,
.form-buttom {
    background: var(--info) !important;
    color: white;
}

.btn.btn-default,
btn-cancel {
    background: var(--text-color);
    color: white;
}

.swiper-container {
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}
.swiper-container img{
    height: 25vh;
    object-fit: cover;
}
.shadow{
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.07)!important
}

.header {
    height: 55px;
    z-index: 2 !important;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: none !important;
    background-color: var(--gold) !important;
    /* background: linear-gradient(to right, #d38c2b , #a46005) !important; */
    color: #464646 !important;
    font-size: .373333rem;
}
.header .left_btn {
    position: absolute;
    left: .4rem;
    top: 0;
    line-height: 1.2rem;
}
.user-header {
    /* background: linear-gradient(to right, #d38c2b , #a46005) !important; */
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center;
    padding: 0 20px !important;
    font-size: 17px !important;
    box-shadow: 0 0px 4px 0 rgb(192 192 192 / 20%);
    height: 55px;
    position: relative;
}

.user-header.center {
    justify-content: center !important;
}

.user-header>label {
    color: #f1f1f1;
    margin: 0;
    font-weight: 500;
    margin-left: 13px;
}

.user-header i {
    height: 35px !important;
    width: 35px !important;
    color:#f1f1f1 !important;
}
.user-header>img {
    height: 40px;
    width: auto;
}

.toolbar-button {
    background-color: var(--red) !important;
    border-radius: 10px !important;
}

.toolbar-button p {
    color: white;
}

.announcement-item img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}

.profile-header .red-bg {
    background-color: var(--red);
    height: 90px !important;
    width: 100vw;
    border-bottom-right-radius: 20px;
}

.profile-header .headerImg {
    width: 80px !important;
    height: 80px !important;
    border: 3px solid white;
    border-radius: 80px;
}

.profile-info-box {
    padding: 10px;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: -30px;
}

.profile-info {
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 10px;
}

.profile-info-box .profile-info {
    margin-left: 15px;
}

.profile-info-box .profile-info label {
    font-size: 17px;
    margin-bottom: 5px;
}

label.hint {
    font-size: 13px !important;
    opacity: .7;
}

.row-item {
    background-color: white;
    border-radius: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 14px 12px;
}

.row-label label {
    font-size: 17px;
}

.row-data {
    background: var(--light-gray);
    border-radius: 10px;
    padding: 10px 14px;
    width: 50%;
    text-align: right;
}

.row-data label {
    color: var(--red);
    font-size: 17px;
}

.row-item.navigate {
    justify-content: flex-start !important;
}

.row-icon img {
    height: 22px;
    width: 22px;
    margin-right: 13px;
    color: var(--text-color);
}

#rank-box {
    /*display: flex;*/
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px 10px;
}

.rank-box {
    margin-left: 2.5px;
    margin-right: 2.5px;
    padding: 13px;
    background: white;
    border-radius: 10px;
    width: 38vw;
}

.rank-box img {
    width: 100%;
    height: auto;
}

.rank-box label {
    font-size: 14px;
    text-align: center;
}

.upgrade-rank-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px;
}

.upgrade-rank-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.upgrade-rank-info img {
    margin-right: 10px;
    height: 90px;
    width: auto;
}

.upgrade-rank-info label {
    font-size: 14px;
}

.records .records_box .records_tabs .records_tabs_box .records_tabs_box_des .tabs_box_des_r .tabs_box_des_r_tit[data-v-35ad745e]{
    color:var(--text-color)
}

.records .records_box .records_tabs .records_tabs_box .records_tabs_box_des[data-v-35ad745e]{
    background-color: var(--black);
    padding:15px;
}

.mint-loadmore[data-v-35ad745e]{
    background-color: var(--black2);
    border-radius: 5px;
}

.records_tabs_box {
    background-color: var(--black2);
    background-image: unset !important;
    border-radius: 10px;
}
.van-list > div[data-v-35ad745e]{
    border-bottom: 1px solid var(--black);
}
.records_box {
    padding: 15px;
    /* background-color: #eee; */
}

.van-tabs__content {
    margin-top: 0 !important;
    /* background-color: #eee; */
}

.records_tabs {
    margin: 0 0 15px 0 !important;
}

.records_tabs_box_des {
    border-radius: 10px;
}

.left_btn, .right_btn {
    display: flex;
    align-items: center;
    height: 100%;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex.align-start {
    align-items: flex-start;
}

.flex.align-end {
    align-items: flex-end;
}

.flex.align-center {
    align-items: center;
}

.flex.align-space-between {
    align-items: space-between;
}

.flex.justify-start {
    justify-content: flex-start;
}

.flex.justify-end {
    justify-content: flex-end;
}

.flex.justify-center {
    justify-content: center;
}

.flex.justify-space-between {
    justify-content: space-between;
}

.flex.justify-space-evenly {
    justify-content: space-evenly;
}

.flex.justify-space-around {
    justify-content: space-around;
}

select {
    border-radius: 10px;
    padding: 10px;
}

.form-control {
    background-color: var(--black);
    /* background-color: var(--light-gray); */
    padding: 15px;
    border-radius: 10px;
}

.form-control input,
form input {
    background-color: transparent;
    font-size: 15px;
    width: 100%;
    color: var(--text-color) !important;
}

.form-control select {
    background-color: transparent !important;
    color: var(--text-color) !important;
    padding: 0px !important;
}

.card {
    padding: 20px;
    box-shadow: 0 0px 4px 0 rgb(192 192 192 / 20%);
    border-radius: 10px;
    background: var(--black2) !important;
    background-color: var(--black2) !important;
}

.card h3 {
    margin-bottom: 8px;
}

.layui-layer-dialog {
    border-radius: 10px !important;
    overflow: hidden;
}

body .demo-class .layui-layer-btn a {
    background-color: var(--gold) !important;
    border-color: var(--gold) !important;
    border-radius: 5px !important;
}

body .demo-class .layui-layer-btn .layui-layer-btn1 {
    background-color: white !important;
    border-color: white !important;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #eee !important;
}

.mint-button {
    border-radius: 0px !important;
    background-color: var(--gold) !important;
    opacity: .8;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap !important;
    line-height: 18px !important;
    height: 100% !important;
    float: none !important;
}

.mint-button>* {
    color: white !important;
}

.mint-button.on {
    opacity: 1;
}

.loading-gif {
    text-align: center;
    background: white;
}

.rolling-text {
margin: 0 auto;
white-space: nowrap;
overflow: hidden;
animation-delay: 2.5s;
display: inline-block;
padding-left: 100%;
animation: rolling-text-anim 60s linear infinite;
color:var(--black2);
}

@keyframes rolling-text-anim {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
.tabs{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--gold) !important;
    /* background: linear-gradient(to right, #d38c2b , #a46005) !important; */
}

.tabs > li{
    padding-bottom:10px;
    display: flex;
    justify-content: center;
}
.tabs >li label{
    text-align: center;
    color: #f1f1f1;
    font-size: 15px;
    padding: 14px 5px 10px 5px;
    font-weight: 600;
    letter-spacing: 2px;
    border-bottom: 3px solid transparent;
}
.tabs >li.active label{
    border-bottom: 3px solid white;
}
.tab-header{
    background: var(--black2) !important;
}
.tab-panel .tab-header label{
    font-size:15px;
}
.tab-panel .tab-content{
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.tab-panel .tab-content:last-child{
    border-bottom: 1px solid transparent;
}
.tab-panel .tab-content label{
    /* font-size:14px; */
}

.tab-panel .tab-content > div{
    padding: 20px 10px;
}
.tab-panel .tab-content.small > div{
    padding: 10px 10px;
}
#progress-bar{
    background-color: #eee;
    border-radius: 6px;
    height: 17px;
}

.progress-bar{
    height: 17px;
    border-radius: 6px;
    background: var(--gold) !important;
    /* background: linear-gradient(to right, #d38c2b , #a46005) !important; */
}

.hide-long-text{
    white-space: nowrap; 
    width: 80%; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

#account-grid{
    width:100%;
}

#account-grid > .account-grid{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#account-grid > .account-grid > div{
    width:33vw;
    height: 33vw;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.account-grid a{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.account-grid label{
    font-size:15px;
    /* color:#333; */
}

.border-right{
    border-right: 1px solid rgba(0,0,0,.1);
}
.border-bottom{
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.border-left{
    border-left: 1px solid rgba(0,0,0,.1);
}

.list-group-item{
    background: var(--black2) !important;
}

.file_container > div{
    background: var(--black2) !important;
}

.bink_card > h3{
    margin-bottom: 0 !important;
    background: var(--black2) !important;
}
.bink_card select,
.bink_card > ul,
.bink_card > ul > li{
    background: var(--black) !important;
}

.bink_card select{
    color: var(--text-color) !important;
}
.my-meun>.meun-item,
.money-bg{
    background: var(--black2) !important; 
}

.item-line input,
.item-line span{
    color: var(--text-color) !important; 
}

.records_box,
.van-list__placeholder{
    background: var(--black) !important;
}

.Personal_ul h3{
    color: var(--text-color) !important;
}

.Personal_ul li{
    border-color: var(--black) !important;
}

.address,
.goods-info,
.report div{
    background-color: var(--black2) !important;
    background: var(--black2) !important;
}

.report div{
    border-color: var(--black) !important;
}

.report .d p[data-v-b7e8b406]{
    color: var(--text-color) !important;
}
.hot[data-v-b7e8b406]{
    background:  var(--black) !important;
}

.mint-tab-container-item li{
    border-bottom-color: var(--black2) !important;
}
.hot ul[data-v-b7e8b406]{
    border:0 !important;
}

.layui-m-layerchild,
.layui-layer,
.layui-layer-title{
    background-color: var(--black2) !important;
}

.layui-m-layerchild{
    border-radius: 15px !important;
    overflow: hidden !important;
}

.layui-m-layerbtn{
    background-color: var(--black2) !important;
    border-color: var(--black) !important;
}
.layui-m-layerbtn span{
    border-color: var(--black) !important;
}

.Notice_ul[data-v-b0857b18]{
    background-image: none !important;
    background-color: var(--black2) !important;
}

.layui-layer-title{
    color: var(--text-color) !important;
    border-color: var(--black) !important;
}
.pagination-container{
    background-color: var(--black2) !important;
    padding: 10px;
}

.pagination-container select{
    padding: 5px !important;
    margin: 0 5px;
}

.layui-m-layerbtn span[yes] {
    background: var(--gold) !important;
    color: var(--text-color) !important;
}

.rolldate-content li {
    color: var(--black);
}

.head[data-v-530a0f34]{
    background: var(--black2);
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}