:root {
    --primary: #000000;
    --gold: #000000;
    --blue: #1C1C1C;
    --text-color: #fff;
    --white: #fff;
    --light-gray: #3D3E3F;
    --blue2: #3D3E3F;
}

body,
html {
    background-color: var(--blue) !important;
    /*#e8e8e8;
    */
}

.login .form-control input {
    color: var(--white) !important;
}

#app .main,
.records_box,
.van-list__placeholder,
.records .records_box .records_tabs .records_tabs_box .records_tabs_box_des[data-v-35ad745e] {
    background: var(--blue) !important;
    /*#e8e8e8 !important;
    */
}

.main.no-pad {
    padding-top: 80px !important;
}

.main.no-header {
    padding-top: 0 !important;
}

.bg-gray-black,
.bg-black,
.records_tabs_box,
.tab-header,
.head[data-v-530a0f34],
.Cash_num {
    background: var(--blue) !important;
}

.swiper-container {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.home-content.top-btn {
    border-top: 1px solid var(--white) !important;
    border-bottom: 1px solid var(--white) !important;
    padding: 0px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.home-btn,
.btn.btn-primary,
.save-btn {
    background: var(--white) !important;
    color: var(--gold) !important;
}

.home-btn {
    background: transparent !important;
    /*border-bottom: 2.28px solid var(--primary) !important;*/
    padding: 3px 10px !important;
    height: 31px;
}

.home-btn label {
    color: var(--white) !important;
}

#button-buy-div {
    background: #1C212E !important;
}

.bink_card>h3 {
    background: var(--blue) !important;
    background-color: var(--blue) !important;
}

.bink_card>ul,
.bink_card>ul>li {
    background: var(--blue2) !important;
}

.bink_card>ul>li {
    align-items: center;
    display: flex;
}

.bink_card ul.bink_card_ul {
    border-radius: 8px;
}

.bink_card ul.bink_card_ul li:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.bink_card ul.bink_card_ul li:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.bink_card_ul li h4[data-v-cc2885a2] {
    color: var(--white);
}

.bink_card_ul li input[data-v-cc2885a2],
.bink_card select {
    background: var(--white) !important;
    border-radius: 10px;
    height: 30px !important;
    color: var(--black) !important;
    padding: 0 5px;
    width: 6rem;
}

#button-buy-div {
    position: relative;
}

#button-buy {
    border-radius: 10px;
}

.card,
.my-meun>.meun-item,
.money-bg,
.pagination-container {
    background: var(--light-gray) !important;
    background-color: var(--light-gray) !important;
}

.card {
    background-color: var(--blue) !important;
    /*box-shadow: 0 0px 4px 0 rgb(255 255 255 / 90%);
    */
}

.text-white {
    color: var(--text-color) !important;
}

.text-gray {
    color: var(--dark) !important;
}

.layui-m-layerchild,
.layui-layer,
.layui-layer-title {
    background-color: var(--light-gray) !important;
}

.form-control {
    background-color: #e8e8e8 !important;
}

.layui-m-layerbtn {
    background-color: var(--light-gray) !important;
    border-color: #e8e8e8 !important;
}

.layui-m-layerbtn span {
    border-color: #e8e8e8 !important;
}

.list-group-item {
    background: var(--light-gray) !important;
}

.my-index .text-white,
.my-index p,
p.title {
    color: white !important;
}

#account-grid .border-bottom {
    border: none;
}

.footer-box {
    background: var(--white) !important;
    box-shadow: none !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

textarea,
.balance,
.report p[data-v-b7e8b406] {
    color: var(--text-color);
}

#livechat2,
#add-img {
    background: #e8e8e8 !important;
}

#livechat2 {
    /*width: 50px !important;*/
}

.van-list>div[data-v-35ad745e] {
    /*border-bottom: 1px solid #e8e8e8;
    */
}

.report div {
    border-color: #e8e8e8 !important;
    background: var(--white) !important;
    background-color: var(--white) !important;
}

.mint-navbar,
.mint-tab-container-wrap {
    background: var(--light-gray) !important;
}

.mint-tab-container-item li {
    border-bottom-color: #e8e8e8 !important;
}

.Notice_ul[data-v-b0857b18] {
    background-color: var(--light-gray) !important;
}

#app.login .form-control,
#app.register .form-control {
    background-color: var(--light-gray) !important;
}

.keep-password-tips {
    color: var(--text-color);
}

.slider-contianer {
    height: 35vh !important;
}

.swiper-container .swiper-slide img {
    /*height: 100%;
    */
    height: 35vh;
    max-height: 35vh !important;
    width: 175px !important;
    border-radius: 10px !important;
}

.swiper-container-3d .swiper-slide-shadow-left {
    border-radius: 10px;
    width: 175px;
    height: 100%;
}

.swiper-container-3d .swiper-slide-shadow-right {
    border-radius: 10px;
    height: 100%;
}

.home-content {
    margin-top: 0 !important;
    background: var(--blue);
}

.home-content>div {
    justify-content: space-between;
}

#movie-slider .swiper-slide img {
    /*border-radius: 0;*/
}

#movie-slider .btn-buy {
    width: 93px;
    height: 19px;
    color: var(--gold);
    border-radius: 5px !important;
    padding: 0 !important;
    font-size: 11px;
}

#top-movie-list p,
#top-movie-list label {
    margin: 3px 0;
}

#top-movie-list .hide-long-text p {
    font-size: 12px !important;
}

#top-movie-list .hide-long-text label {
    font-size: 18px;
    font-weight: 700;
}

#top-movie-list img {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
}

#top-movie-list .btn-buy {
    border-radius: 5px !important;
    position: absolute;
    bottom: 20px;
    /*right: 35px;*/
    height: 31px;
    width: 120px;
}

#top-movie-list .tab-content {
    width: 50%;
    display: inline-block;
}

#top-movie-list .hide-long-text {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top-movie-list img {
    height: 236px !important;
    width: 100% !important;
}

.header,
.Notice_ul[data-v-b0857b18] {
    background-color: var(--blue) !important;
    padding: 0 20px;
}

.user-header {
    box-shadow: none !important;
    height: 87px !important;
}

.user-header img {
    height: 168px !important;
}

.main .header-title {
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 0px;
    font-size: 18px;
    font-weight: 700;
}

.Notice_ul p.title {
    /*margin-top: inherit;
     background: transparent;*/
    text-align: left;
}

.Notice_ul .txt>p.bgimage {
    height: 386px;
    margin: 5px 0;
}

.Notice_ul .txt p {
    height: inherit;
}

.Notice_ul div.content {
    width: 50%;
}

.Notice_ul div.content p {
    height: auto;
    margin: 5px 0;
    max-height: 47px;
}

.layui-m-layerchild,
.layui-layer,
.layui-layer-title {
    background-color: var(--blue) !important;
}

.layui-m-layerbtn span[no] {
    color: var(--black) !important;
    background: var(--white);
}

#max {
    color: var(--black) !important;
}

#progress-bar,
.progress-bar {
    height: 5px;
}

.records_box {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.records .records_box .records_tabs .records_tabs_box .records_tabs_box_des[data-v-35ad745e] {
    background: transparent !important;
    justify-content: space-between;
    padding: 0 !important;
}

.records .records_box .records_tabs .records_tabs_box .tabs_box_des_r_pic[data-v-35ad745e] {
    display: block;
}

.records .records_box .records_tabs .records_tabs_box .tabs_box_des_r_pic[data-v-35ad745e] label {
    font-size: 12px;
    white-space: nowrap;
}

.records .records_box .records_tabs .records_tabs_box .tabs_box_des_r_pic[data-v-35ad745e] div {
    margin-top: 5px;
}

.records_tabs,
.records_tabs_box {
    background: var(--blue2) !important;
    border-radius: 0;
}

.records_tabs_box .btn.btn-success {
    color: var(--black);
    background: var(--white);
    font-size: 14px;
    padding: 2px 17px !important;
    font-weight: 700;
    height: 23px;
}

.btn-invite {
    float: right;
    padding: 3px 10px;
    font-size: 14px;
    font-weight: 700;
    margin-top: -165px;
    background: #00000080;
    color: white;
    height: 36px;
    border-radius: 4px;
}

.my-wallet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--white);
    height: 43px;
    padding: 10px;
    border-radius: 10px;
}

.my-wallet label {
    font-size: 14px;
    font-weight: 700;
    color: var(--blue);
    background: var(--white);
}

.account-grid a svg {
    width: 35px !important;
    height: 35px !important;
    color: var(--blue) !important;
    padding: 8px;
    border-radius: 33%;
    background: var(--white);
}

.font-24 {
    font-size: 24px;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-18 {
    font-size: 18px;
}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-900 {
    font-weight: 900;
}

.form-control input {
    color: var(--black) !important;
}

.rate {
    border: 1px solid var(--gold);
    padding: 0px 6px;
    border-radius: 5px;
    color: var(--gold);
    width: 100px;
    height: 17px;
    font-size: 12px !important;
    text-align: center;
}

.my-meun,
.money-bg {
    margin-left: 0;
    margin-right: 0;
}

.my-meun>.meun-item,
.money-bg,
.open_Lottery_ul li {
    background: var(--blue2) !important;
    background-color: var(--blue2) !important;
}

.my-meun>.meun-item>.item-line {
    border-bottom: 1px solid var(--blue2);
}

.my-meun .item-line input[type="password"] {
    width: min-content;
    background: var(--white);
    border-radius: 20px;
    text-align: right;
    padding-right: 10px;
    color: var(--black) !important;
}

.pagination-container>ul>li>a,
.pagination-container>ul>li>span {
    color: var(--white);
}

.pagination-container>ul>li>span {
    background: var(--white);
    color: var(--black);
}

.card {
    box-shadow: none;
}

.report div[data-v-b7e8b406] {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    border-color: #C4C4C4 !important;
}

.report p,
.report p[data-v-b7e8b406],
.report div,
.report .d p[data-v-b7e8b406] {
    color: #0A153D !important;
    font-size: 14px;
    font-weight: 700;
}

.report {
    border-top: none !important;
    margin-top: 10px;
}

.report div:first-child {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.report div:last-child {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.mint-button {
    background-color: var(--blue) !important;
    opacity: 1;
    border: none !important;
    box-shadow: none;
}

.mint-navbar,
.mint-tab-container-wrap {
    background: var(--blue) !important;
}

.mint-button.on label {
    color: var(--white) !important;
    font-size: 18px;
    font-weight: 700;
}

.mint-button.on {
    border-bottom: 2px solid var(--white) !important;
}

.mint-tab-container-item li {
    border-bottom-color: transparent !important;
}

#invite-body canvas {
    padding: 5px;
    background: var(--white);
    margin-top: 10px;
    margin-bottom: 10px;
}

.address,
.goods-info {
    background: var(--blue) !important;
    background-color: var(--blue) !important;
}

.layui-m-layerbtn {
    border: none;
}

.Cash_num h3 {
    color: var(--white) !important;
}

.recharge-amount {
    border-radius: 28px !important;
}

.tabs>li label {
    font-size: 16px;
    font-weight: 400;
}

.tabs>li.active label {
    font-size: 18px !important;
    font-weight: 700 !important;
    color: var(--white) !important;
    border-bottom: none;
}

.counter-sec {
    position: absolute;
    bottom: 60px;
    background: var(--light-gray) !important;
    width: 100%;
    flex-direction: column !important;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.counter-sec label {
    font-size: 14px !important;
}

.counter-sec span {
    font-size: 24px !important;
    font-weight: 700;
}

.counter-sec div {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

#vip-need svg {
    color: var(--white) !important;
}

#vip-need img {
    width: 20px;
}

#vip-need span {
    font-size: 12px !important;
    white-space: nowrap;
}

#vip-need label {
    font-size: 12px !important;
    color: var(--white);
    font-weight: 700;
}

#vip-need>div {
    display: flex;
}

#vip-need p {
    width: fit-content;
    text-align: center;
    margin: auto;
    padding: 4px 6px;
    display: flex;
    /*background: var(--white);*/
    border-radius: 100%;
}

.main-function {
    display: flex;
    justify-content: space-between;
    background: #DADADA;
    border-radius: 9px;
    padding: 15px 45px;
    margin: 0 25px;
    margin-top: -50px;
}

.main-function a svg {
    width: 35px !important;
    height: 35px !important;
    color: var(--blue) !important;
    padding: 8px;
    border-radius: 33%;
    background: var(--white);
}

.main-function div {
    text-align: center;
    width: 45px;
}

.main-function label {
    color: var(--black);
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
}