{extend name='main'}

{block name="button"}


{/block}

{block name="content"}

<div class="think-box-shadow">
    {include file='share/index_search'}

    <table class="layui-table margin-top-15" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='text-left nowrap'>ID</th>
            <th class='text-left'>手机号</th>
            <th class='text-left'>用户名</th>
            <th class='text-left'>姓名</th>
            <th class='text-left'>截图</th>
            <th class='text-left'>此分享所活动积分</th>
            <th class='text-left nowrap'>提交时间</th>
            <th class='text-left nowrap'>处理时间</th>
            <th class='text-left nowrap'>状态</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-left nowrap'>{$vo.id}</td>
            <td class='text-left '>{$vo.tel}</td>
            <td class='text-left '>{$vo.username}</td>
            <td class='text-left '>{$vo.real_name}</td>
            <td class='text-left'><a href="{:config('image_upload') . $vo.image_url}" target="_blank"><img src="{:config('image_upload') . $vo.image_url}" height="100px"></a></td>
            <td class='text-left'>{$vo.total_point_collected}</td>
            <td class='text-left '>
                {$vo.addtime|format_datetime}
            </td>
            <td class='text-left '>
                {$vo.updatetime|format_datetime}
            </td>
            <td class='text-left nowrap'>
            {if $vo.c_status eq 1}
            待审核
            {if auth("approve_sharing")}
                <a class="layui-btn layui-btn-xs layui-btn" style='background:green;' onClick="approve({$vo.id})">通过</a>
            {/if}
            {if auth("reject_sharing")}
                <!-- <a class="layui-btn layui-btn-xs layui-btn" style='background:red;' onClick="reject({$vo.id})">驳回</a> -->
                <a class="layui-btn layui-btn-xs layui-btn-warm" data-title="驳回" data-modal='{:url("admin/share/reject_sharing")}?id={$vo.id}'>驳回</a>
            {/if}
            {elseif $vo.c_status eq 2}
            已通过
            {else}
            已驳回, 备注: {if $vo.remark}{$vo.remark}{else}无{/if}
            {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
<script>
    function approve(id){
        layer.confirm("确认要通过吗?",{ title: "通过确认" },function(index){
            $.ajax({
                type: 'POST',
                url: "{:url('approve_sharing')}",
                data: {
                    'id': id,
                    '_csrf_': "{:systoken('admin/share/approve_sharing')}"
                },
                success:function (res) {
                    layer.msg(res.info,{time:2500});
                    location.reload();
                }
            });
        },function(){});
    }
    function reject(id){
        layer.confirm("确认要驳回吗?",{ title: "驳回确认" },function(index){
            $.ajax({
                type: 'POST',
                url: "{:url('reject_sharing')}",
                data: {
                    'id': id,
                    '_csrf_': "{:systoken('admin/share/reject_sharing')}"
                },
                success:function (res) {
                    layer.msg(res.info,{time:2500});
                    location.reload();
                }
            });
        },function(){});
    }
</script>
{/block}
