{extend name='admin@main'}

{block name="content"}

<!--<form onsubmit="return false;" id="GoodsForm" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">-->

<!--<div class="layui-card-body think-box-shadow padding-left-40">-->


<!--<div class="layui-form-item">-->
<!--<span class="color-green label-required-prev">轮播展示图片</span>-->
<!--<table class="layui-table">-->
<!--<thead>-->
<!--<tr>-->
<!--<th class="text-left">展示图片</th>-->
<!--</tr>-->
<!--<tr>-->
<!--<td width="auto" class="text-left"><input name="image" type="hidden" value="{$info.image|default=''}"></td>-->
<!--</tr>-->
<!--</thead>-->
<!--</table>-->
<!--<script> $('[name="image"]').uploadMultipleImage()</script>-->
<!--</div>-->

<!--<div class="layui-form-item text-center">-->
<!--<button class="layui-btn" type="submit">保存图片</button>-->
<!--<button class="layui-btn layui-btn-danger" ng-click="hsitoryBack()" type="button">取消编辑</button>-->
<!--</div>-->

<!--</div>-->
<!--</form>-->


<form onsubmit="return false;" id="GoodsForm" action="{:request()->url()}" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body think-box-shadow padding-left-40">

        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">银行名称</span>
                <input name="name" required class="layui-input" placeholder="请输入名称" value="">
                <input type="hidden" name="_csrf_" value="">
            </label>
        </div>

        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">标识</span>
                <input name="url" required class="layui-input" placeholder="请输入标识" value="/index/ctrl/recharge2?type=card" readonly>
            </label>
        </div>

        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">ico</span>
                <input type="hidden" name="ico" value="/public/img/bank1.png" readonly>
                <img src="/public/img/bank1.png" alt="" width="50">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">最小金额</span>
                <input name="min" required class="layui-input" placeholder="请输入最小金额" value="">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">最大金额</span>
                <input name="max" required class="layui-input" placeholder="请输入最大金额" value="">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">额度</span>
                <input name="limit" required class="layui-input" placeholder="" value="0">
                <p>(0为不限额度，如总存入超过额度，此卡不会出现在用户充值)</p>
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">银行卡姓名</span>
                <input name="bank_account_holder" required class="layui-input" placeholder="请输入银行卡姓名" value="">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">银行卡号码</span>
                <input name="bank_account_number" required class="layui-input" placeholder="请输入银行卡号码" value="">
            </label>
        </div>

        <div class="layui-form-item text-center">
            <button class="layui-btn" type="submit">提交</button>
            <button class="layui-btn layui-btn-danger" onclick="javascript:document.querySelector('.layui-layer-close').click();" type="button">取消</button>
        </div>

    </div>
</form>

{/block}