{extend name='admin@main'}

{block name="button"}

<button data-modal='{:url("add")}' data-title="添加银行卡" class='layui-btn'>添加银行卡</button>

{/block}

{block name="content"}

<!--<form onsubmit="return false;" id="GoodsForm" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">-->

    <!--<div class="layui-card-body think-box-shadow padding-left-40">-->


        <!--<div class="layui-form-item">-->
            <!--<span class="color-green label-required-prev">轮播展示图片</span>-->
            <!--<table class="layui-table">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th class="text-left">展示图片</th>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td width="auto" class="text-left"><input name="image" type="hidden" value="{$info.image|default=''}"></td>-->
                <!--</tr>-->
                <!--</thead>-->
            <!--</table>-->
            <!--<script> $('[name="image"]').uploadMultipleImage()</script>-->
        <!--</div>-->

        <!--<div class="layui-form-item text-center">-->
            <!--<button class="layui-btn" type="submit">保存图片</button>-->
            <!--<button class="layui-btn layui-btn-danger" ng-click="hsitoryBack()" type="button">取消编辑</button>-->
        <!--</div>-->

    <!--</div>-->
<!--</form>-->


<div class="think-box-shadow">
    <!--<a class="layui-btn layui-btn layui-btn" data-open="{:url('add_banner',['id'=>0])}" data-value="id#0" style='background:green;'>新增</a>-->

    <table class="layui-table margin-top-15" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th colspan="9">
                额度: 0为不限额度，如总存入超过额度，此卡不会出现在用户充值<br>
                是否到达额度: 如果额度状态为是，此卡将不会显示在用户充值
            </th>
        </tr>
        <tr>
            <th class='text-left nowrap'>名称</th>
            <th class='text-left nowrap'>图片</th>
            <th class='text-left nowrap'>标识</th>
            <th class='text-left nowrap'>最小金额</th>
            <th class='text-left nowrap'>最大金额</th>
            <th class='text-left nowrap'>总存入/额度</th>
            <th class='text-left nowrap'>是否到达额度</th>
            <th class='text-left nowrap'>状态</th>
            {if auth("edit_home_msg")}
            <th class='text-left nowrap'>操作</th>
            {/if}
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-left nowrap'>{$vo.name}</td>
            <td class='text-left nowrap'>
                <img src="{$vo.ico}" alt="" width="100">
            </td>
            <td class='text-left nowrap'>{$vo.name2}</td>
            <td class='text-left nowrap'>{$vo.min}</td>
            <td class='text-left nowrap'>{$vo.max}</td>
            <td class='text-left nowrap'>{$vo.received_amount}/{$vo.limit}</td>
            <td class='text-left nowrap'>{if condition="$vo.is_reach_limit"}是{else}否{/if}</td>
            <td class='text-left nowrap'>
                {eq name='vo.status' value='0'}<span class="color-red">已禁用</span>{else}<span class="color-green">使用中</span>{/eq}
            </td>

            <td class='text-left nowrap'>
                {if auth("edit_home_msg")}
                <a data-dbclick class="layui-btn layui-btn-xs" data-title="编辑" data-open='{:url("admin/pay/edit")}?id={$vo.id}'>编 辑</a>

                {if $vo.status eq 1}
                <a class="layui-btn layui-btn-warm layui-btn-xs" data-action="{:url('forbid')}" data-value="id#{$vo.id};status#0" data-csrf="{:systoken('admin/pay/forbid')}">禁 用</a>
                {elseif $vo.status eq 0}
                <a class="layui-btn layui-btn-warm layui-btn-xs" data-action="{:url('resume')}" data-value="id#{$vo.id};status#1" data-csrf="{:systoken('admin/apy/resume')}">启 用</a>
                {/if}

                <a class="layui-btn layui-btn-danger layui-btn-xs layui-btn" onClick="reset_pay(this)" data-id="{$vo.id}">重置总存并恢复银行卡使用</a>

                <a class="layui-btn layui-btn-xs layui-btn" onClick="del_pay(this)" data-id="{$vo.id}" style='background:red;'>删除</a>
                {/if}

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

</div>
<script>
    function del_pay(e){
        const id = e.dataset.id;
        layer.confirm("确认要删除吗，删除后不能恢复",{ title: "删除确认" },function(index){
            $.ajax({
                type: 'POST',
                url: "{:url('del_pay')}",
                data: {
                    'id': id,
                    '_csrf_': "{:systoken('admin/pay/del_pay')}"
                },
                success:function (res) {
                    layer.msg(res.info,{time:2500});
                    // location.reload();
                    $(e).closest('tr').remove();
                }
            });
        },function(){});
    }

    function reset_pay(e){
        const id = e.dataset.id;
        layer.confirm("确认要重置吗，重置后此卡将会显示在用户充值",{ title: "重置确认" },function(index){
            $.ajax({
                type: 'POST',
                url: "{:url('reset_pay')}",
                data: {
                    'id': id,
                    '_csrf_': "{:systoken('admin/pay/reset_pay')}"
                },
                success:function (res) {
                    layer.msg(res.info,{time:2500});
                    if (res.code === 1)
                        location.reload();
                }
            });
        },function(){});
    }
</script>

{/block}