<fieldset>

    <legend>条件搜索</legend>

    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">

{if input('get.is/s','')=='user'}
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">手机账号</label>
            <div class="layui-input-inline">
                <input name="username" value="{$Think.get.username|default=''}" placeholder="请输入手机账号" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input name="uname" value="{$Think.get.uname|default=''}" placeholder="请输入用户名" class="layui-input">
            </div>
        </div>
{else/}
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">操作账号</label>
            <div class="layui-input-inline">
                <input name="username" value="{$Think.get.username|default=''}" placeholder="请输入操作账号" class="layui-input">
            </div>
        </div>
{/if}
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">操作节点</label>
            <div class="layui-input-inline">
                <input name="node" value="{$Think.get.node|default=''}" placeholder="请输入操作节点" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">操作行为</label>
            <div class="layui-input-inline">
                <input name="action" value="{$Think.get.action|default=''}" placeholder="请输入操作行为" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">操作描述</label>
            <div class="layui-input-inline">
                <input name="content" value="{$Think.get.content|default=''}" placeholder="请输入操作内容" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">IP地址</label>
            <div class="layui-input-inline">
                <input name="geoip" value="{$Think.get.geoip|default=''}" placeholder="请输入位置地址" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">操作时间</label>
            <div class="layui-input-inline">
                <input data-date-range name="create_at" value="{$Think.get.create_at|default=''}" placeholder="请选择操作时间" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        </div>
    </form>

</fieldset>

<script>form.render()</script>