{extend name='main'}

{block name="button"}
			{if input('type') == 1}
				<a data-target-tips="停止刷新" data-open="{:url('online')}"><span class="layui-btn layui-btn-danger" >停止刷新</span></a>
			{else /}
				<a data-target-tips="自动刷新" data-open="{:url('online')}?type=1"><span class="layui-btn ">自动刷新</span></a>
			{/if}
{/block}

{block name="content"}
<div class="think-box-shadow">
<fieldset>

    <legend>条件搜索</legend>

    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">手机账号</label>
            <div class="layui-input-inline">
                <input name="username" value="{$Think.get.username|default=''}" placeholder="请输入手机账号" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input name="uname" value="{$Think.get.uname|default=''}" placeholder="请输入用户名" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">IP地址</label>
            <div class="layui-input-inline">
                <input name="geoip" value="{$Think.get.geoip|default=''}" placeholder="请输入位置地址" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">当日交易</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="dealnum">
                    {foreach [''=>'-- 全部 --','on'=>'有交易','60'=>'满60单'] as $k=>$v}
                    {eq name='Think.get.dealnum' value='$k.""'}
                    <option selected value="{$k}">{$v}</option>
                    {else}
                    <option value="{$k}">{$v}</option>
                    {/eq}
                    {/foreach}
                </select>
            </div>
        </div>
        
        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        </div>
    </form>
</fieldset>

<script>form.render()</script>

    <table class="layui-table margin-top-10" lay-filter="tab" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <!--th class='list-table-check-td think-checkbox'>
                <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
            </th-->
            <th lay-data="{field:'uname|username'}" class='text-left nowrap'>用户信息</th>
            <th lay-data="{field:'ip'}" class='text-left nowrap'>IP地址</th>
			<th lay-data="{field:'deal_count'}" class='text-left nowrap'>当日交易</th>
            <th lay-data="{field:'online'}" class='text-left nowrap'>操作时间</th>
            <th lay-data="{field:'create_at'}" class='text-left nowrap'>登录时间</th>
			<th lay-data="{field:'useragent',width:280,fixed: 'right'}" class='text-left nowrap'>系统标识</th>
			<th class='text-left nowrap'>操作</th>
        </tr>
        </thead>
		
        <tbody>
        {foreach $list as $key=>$vo}
        <tr data-dbclick>
            <!--td class='list-table-check-td think-checkbox'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'>
            </td-->
            <td class="text-left nowrap">
                <span class="font-w7">
					{if ($vo.is_jia == 1 && $vo.is_free == 0)}<font style='color:red;'>{$vo.uname}<br>{$vo.username}</font>{elseif($vo.is_jia == 1 && $vo.is_free == 1)}<font style='color:#ff8f00;'>{$vo.uname}<br>{$vo.username}</font>{elseif ($vo.parent_id == 0 && $vo.uname != '')}<font style='color:#009688;'>{$vo.uname}<br>{$vo.username}</font>{else}{$vo.uname}<br>{$vo.username}{/if}
				</span><br>
            </td>
            <td class='text-left nowrap'>
                <p class="color-text">{$vo.geoip|default='-'}</p>
                <p class="color-desc">{$vo.isp|default='-'}</p>
            </td>
            <td class='text-left nowrap'>
				{$vo.deal_count}
            </td>
            <td class='text-left nowrap'>
                日期：{$vo.online|format_datetime|str_replace=' ','<br><span class="color-desc">时间：',###|raw}</span>
            </td>
            <td class='text-left nowrap'>
                日期：{$vo.create_at|format_datetime|str_replace=' ','<br><span class="color-desc">时间：',###|raw}</span>
            </td>
            <td class='text-left nowrap'>
                <div style="word-break: break-all;white-space: normal;">{$vo.useragent}</div>
            </td>
            <td class='text-left nowrap'>
			
                {if auth("remove")}
				  {if $vo.login_status==1}
                     <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要踢掉已登录的用户吗？" data-action="{:url('offline')}" data-value="uid#{$vo.uid}" data-csrf="{:systoken('remove')}">踢出</a>
				  {else/}
                     <a class="layui-btn layui-btn-sm">离线</a>
				  {/if}
                {/if}
			
            </td>
        </tr>
        {/foreach}
        </tbody>
        {/notempty}
    </table>
    <!--script>
        var table = layui.table;
        //转换静态表格
        var limit = Number('{$Think.get.limit}');
        if(limit==0) limit=20;
        table.init('tab', {
            cellMinWidth:120,
            skin: 'line,row',
            size: 'lg',
            limit: limit
        });  
    </script-->
<script>
{if input('type') == 1}
setInterval('shuaxin()', 5000);
{/if}
function shuaxin(){
	history.go(0)
}
</script>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>

{/block}
