{extend name='main'}

{block name="button"}

    {if auth("add_goods")}
    <button data-open='{:url("add_lixibao_cate")}' data-title="添加分类" class='layui-btn'>添加分类</button>
    {/if}

{/block}

{block name="content"}

<div class="think-box-shadow">
    <fieldset>
        <legend>条件搜索</legend>
        <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">手机号码</label>
                <div class="layui-input-inline">
                    <input name="tel" value="{$Think.get.tel|default=''}" placeholder="请输入手机号码" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-inline">
                    <select name="type" id="selectList">
                        <option value="">所有类型</option>
                        <option value="1">注册短信</option>
                        <option value="2">登录密码修改</option>
                        <option value="3">提现密码修改</option>
                        <option value="4">提现</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">发送时间</label>
                <div class="layui-input-inline">
                    <input data-date-range name="addtime" value="{$Think.get.addtime|default=''}" placeholder="请选择发送时间" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-inline">
                <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
            </div>
        </form>
    </fieldset>
    <script>form.render()</script>
    <table class="layui-table margin-top-15" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='text-left nowrap'>手机号码</th>
            <th class='text-left nowrap'>验证码</th>
            <th class='text-left nowrap'>类型</th>
            <th class='text-left nowrap'>发送时间</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-left nowrap'>{$vo.tel}</td>
            <td class='text-left nowrap'>{$vo.msg}</td>
            <td class='text-left nowrap'>
                {switch $vo.type}
                    {case 1}注册短信{/case}
                    {case 2}修改登录密码{/case}
                    {case 3}修改提现密码{/case}
                    {case 4}提现{/case}
                {/switch}
            </td>
            <td class='text-left nowrap'>{$vo.addtime|format_datetime}</td>
            <td class='text-left nowrap'>
                
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
<script>

</script>
{/block}
