<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>会员列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/resource/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/resource/css/mylay.css">
</head>
<body>
    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card" style="padding: 10px;">
                    <form class="layui-form search">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">账号</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" name="username" autocomplete="off">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">UID</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" name="uid" autocomplete="off">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">订单时间</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="date_range" class="layui-input" readonly>
                                </div>
                            </div>
                            <div class="layui-inline" style="text-align: center;">
                                <button type="button" class="layui-btn" data-type="search">搜索</button>
                                <!-- <button type="button" class="layui-btn export">导出</button> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <table class="layui-hide" id="userList" lay-filter="userList"></table>
                </div>
            </div>
        </div>
    </div>
    <!-- 表单元素 -->
    <script type="text/html" id="lockAccount">
        <input type="checkbox" name="lockAccount" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="userAction" data-suburi="lockAccount" {{ d.state == 2 ? 'checked' : '' }}>
    </script>
    <script type="text/html" id="danger">
        <input type="checkbox" name="danger" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="userAction" data-suburi="risk" {{ d.danger == 1 ? 'checked' : '' }}>
    </script>
    <script type="text/html" id="action">
    	<div class="layui-btn-group">
    		<button type="button" class="layui-btn layui-btn-xs" lay-event="edit">
    			<i class="layui-icon">&#xe642;</i>
    		</button>
	    </div>
    </script>


<script src="/resource/layuiadmin/layui/layui.js"></script>
<script src="/resource/js/manage/init_date.js"></script>
<script src="/resource/js/manage/agent.js"></script>
<script>
    layui.use(['table'], function(){
        var $ = layui.$
        ,table = layui.table;

        //方法级渲染
        table.render({
            elem: '#userList'
            ,title: '影票订单报告'
            ,url: '/agent/user/userOrderList'
            ,method: 'post'
            ,cols: [[
                {checkbox: true, fixed: true, totalRowText: '合计'}
                ,{field: 'username', title: '账号', sort: true, fixed: 'left'}
                ,{field: 'tel', title: '手机号', sort: true}
                ,{field: 'real_name', title: '姓名/昵称', sort: true}
                ,{field: 'goods_name', title: '电影名称', sort: true, totalRow: true}
                ,{field: 'price', title: '电影单价{:config('base_currency')}', sort: true, totalRow: true}
                ,{field: 'goods_count', title: '交易数量', sort: true, totalRow: true}
                ,{field: 'num', title: '交易数额{:config('base_currency')}', sort: true, totalRow: true}
                ,{field: 'commission', title: '佣金{:config('base_currency')}', sort: true, totalRow: true}
                ,{field: 'addtime', title: '下单时间', sort: true, totalRow: true}
                ,{field: 'status', title: '交易状态', sort: true, totalRow: true}
            ]]
            ,cellMinWidth: 100
            ,toolbar: '#toolbarDemo'
            ,defaultToolbar: ['filter']
            ,totalRow: true
            ,page: {
                layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
            }
            ,skin: 'row' //行边框风格
            ,even: true //开启隔行背景
        });

        //监听排序事件
        table.on('sort(userList)', function(obj){ //注：sort 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            //尽管我们的 table 自带排序功能，但并没有请求服务端。
            //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，从而实现服务端排序，如：
            table.reload('userList', {
                initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。
                ,where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                    sortField: obj.field //排序字段
                    ,sortType: obj.type //排序方式
                }
            });
        });

        active = {
            search: function(){
                //执行重载
                table.reload('userList', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        username: $("input[name='username']").val()
                        ,uid: $("input[name='uid']").val()
                        ,datetime_range: $("input[name='date_range']").val()
                    }
                }, 'data');
            }
        };

        $('.search .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        }); 

        /*$('.export').click(function() {
            var url = '/agent/user/userlist_export';
            var params = [];
            if ($("input[name='username']").val() != '') {
                params.push('username=' + $("input[name='username']").val());
            }
            if ($("input[name='balance1']").val() != '') {
                params.push('balance1=' + $("input[name='balance1']").val());
            }
            if ($("input[name='balance2']").val() != '') {
                params.push('balance2=' + $("input[name='balance2']").val());
            }
            if ($("input[name='date_range']").val() != '') {
                params.push('datetime_range=' + $("input[name='date_range']").val());
            }
            if ($("select[name='state'] option:selected").val() != '') {
                params.push('state=' + $("select[name='state'] option:selected").val());
            }
            if (params != []) {
                url += '?' + params.join('&');
            }
            window.location.href = url;
        })*/
    });

</script>
</body>
</html>
