<fieldset>
    <legend>赢家内容/公告</legend>
    <form class="layui-form layui-form-pane" data-auto="true" action="/admin/lucky_draw/edit_winner/{$info.id}" onsubmit="return false;" method="post" autocomplete="off">
        <div class="">
            <label class="">内容/公告</label>
            <div class="">
                <textarea name="winner_content">{$info.winner_content|default=''}</textarea>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary">提交赢家内容/公告</button>
        </div>
    </form>
    <script>
        var test = "{$Think.get.cid|default='0'}";
        $("#selectList").find("option[value="+test+"]").prop("selected",true);

        form.render();
        require(['ckeditor', 'angular'], function () {
            window.createEditor('[name="winner_content"]', {height: 200});
        });
    </script>
</fieldset>