{extend name='main'}

{block name="button"}

    {if auth("add_lucky_draw")}
    <button data-open='{:url("add_lucky_draw")}' data-title="添加幸运抽奖" class='layui-btn'>添加幸运抽奖</button>
    {/if}

{/block}

{block name="content"}

<div class="think-box-shadow">
    {include file='lucky_draw/list_search'}

    <table class="layui-table margin-top-15" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='text-left nowrap'>ID</th>
            <th class='text-left nowrap'>幸运抽奖</th>
            <th class='text-left nowrap'>内容</th>
            <th class='text-left nowrap'>抽奖添加时间</th>
            <th class='text-left nowrap'>状态</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-left nowrap'>{$vo.id}</td>
            <td class='text-left nowrap'>{$vo.name}</td>
            <td class='text-left'>{$vo.content|raw}</td>
            <td class='text-left nowrap'>
                {$vo.addtime|format_datetime}
            </td>
            <td class='text-left nowrap'>
            {if $vo.status eq 1}
            已启用
            {if auth("activate_lucky_draw")}
                <a class="layui-btn layui-btn-xs layui-btn" style='background:red;' onClick="deactivate({$vo.id})">关闭</a>
            {/if}
            {else}
            已关闭
            {if auth("activate_lucky_draw")}
                <a class="layui-btn layui-btn-xs layui-btn" style='background:green;' onClick="activate({$vo.id})">启动</a>
            {/if}
            {/if}
            {if auth("edit_lucky_draw")}
                <a class="layui-btn layui-btn-xs layui-btn" data-open="{:url('edit_lucky_draw',['id'=>$vo.id])}" data-value="id#{$vo.id}" style='background:green;'>编辑</a>
            {/if}
            {if auth("lucky_draw_users")}
                <a class="layui-btn layui-btn-xs layui-btn" data-open="{:url('lucky_draw_users',['id'=>$vo.id])}" data-value="id#{$vo.id}" style='background:green;'>报名用户列表</a>
            {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
<script>
    function activate(id){
        layer.confirm("确认要启动吗，其他正在启动的抽奖活动将会关闭",{ title: "启动确认" },function(index){
            $.ajax({
                type: 'POST',
                url: "{:url('activate_lucky_draw')}",
                data: {
                    'id': id,
                    '_csrf_': "{:systoken('admin/lucky_draw/activate_lucky_draw')}"
                },
                success:function (res) {
                    layer.msg(res.info,{time:2500});
                    location.reload();
                }
            });
        },function(){});
    }
    function deactivate(id){
        layer.confirm("确认要关闭吗",{ title: "启动确认" },function(index){
            $.ajax({
                type: 'POST',
                url: "{:url('deactivate_lucky_draw')}",
                data: {
                    'id': id,
                    '_csrf_': "{:systoken('admin/lucky_draw/deactivate_lucky_draw')}"
                },
                success:function (res) {
                    layer.msg(res.info,{time:2500});
                    location.reload();
                }
            });
        },function(){});
    }
</script>
{/block}
