{extend name='main'}

{block name="button"}

{/block}

{block name="content"}

<div class="think-box-shadow">
    {include file='lucky_draw/edit_winner'}
    {include file='lucky_draw/user_list_search'}    

    <table class="layui-table margin-top-15" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='text-left nowrap'>用户名</th>
            <th class='text-left nowrap'>手机号</th>
            <th class='text-left nowrap'>邀请码</th>
            <th class='text-left nowrap'>幸运抽奖代码</th>
            <th class='text-left nowrap'>截图</th>
            <th class='text-left nowrap'>注册时间</th>
            <th class='text-left nowrap'>报名时间</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-left nowrap'>{$vo.username}</td>
            <td class='text-left nowrap'>{$vo.tel}</td>
            <td class='text-left nowrap'>{$vo.invite_code}</td>
            <td class='text-left nowrap'>{$vo.code}</td>
            <td class='text-left nowrap'><a href="{:config('image_upload') . $vo.image_url}" target="_blank"><img src="{:config('image_upload') . $vo.image_url}" height="100px"></a></td>
            <td class='text-left nowrap'>{$vo.reg_time|format_datetime}</td>
            <td class='text-left nowrap'>
                {$vo.addtime|format_datetime}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
<script>
</script>
{/block}
