<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名称</label>
            <div class="layui-input-block">
                <!-- <input name="user_name" placeholder="请输入用户名" class="layui-input"> -->
                <textarea name="user_name" placeholder="请输入用户名" class="layui-textarea" rows="5"></textarea>
                <p class="text-danger">
                    * 如果要批量编辑用户，多个会员账号以半角逗号(,)分隔
                    <br/>
                    如果多于一个用户名，手机号码就会是用户名
                </p>
                {:token()}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">手机号码</label>
            <div class="layui-input-block">
                <input name="tel" required placeholder="请输入手机号码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">登录密码</label>
            <div class="layui-input-block">
                <input name="pwd" required placeholder="请输入登录密码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上级用户名</label>
            <div class="layui-input-block">
                <input name="parent_username" placeholder="请输入上级用户名" class="layui-input">
            </div>
        </div>

    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>提交</button>
        <button class="layui-btn layui-btn-danger" type='button' data-close>取消</button>
    </div>

    <script>window.form.render();</script>

</form>
