{extend name='main'}


{block name="content"}

<div class="think-box-shadow">

    <div class="layui-card-header layui-anim layui-anim-fadein notselect">
        <span class="layui-icon layui-icon-next font-s10 color-desc margin-right-5"></span>
        <div class="pull-right"></div></div>

    <fieldset>
        <legend>条件搜索</legend>
        <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-inline">
                    <select name="type" id="selectList">
                        <!-- <option value="">所有状态</option>
                        <option value="-1">系统</option>
                        <option value="1">充值</option>
                        <option value="2">交易</option>
                        <option value="3">返佣</option>
                        <option value="4">强制交易</option>
                        <option value="5">推广返佣</option>
                        <option value="6">下级交易返佣</option>
                        <option value="7">利息宝</option> -->
                        <option value="10">赠送</option>
                        <option value="11">邀请奖励</option>
                        <option value="12">邀请满人奖励</option>
                        <option value="13">roi投资回报</option>
                        <option value="14">roi团队投资回报</option>
                        <!-- <option value="15">回购</option> -->
                        <!-- <option value="16">手动扣除</option> -->
                        <!-- <option value="17">提现驳回</option> -->
                        <option value="18">首次充值奖励</option>
                        <option value="19">活动奖励</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">发生时间</label>
                <div class="layui-input-inline">
                    <input data-date-range name="addtime" value="{$Think.get.addtime|default=''}" placeholder="请选择注册时间" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input name="username" value="{$Think.get.username|default=''}" placeholder="请输入用户名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">手机号</label>
                <div class="layui-input-inline">
                    <input name="tel" value="{$Think.get.tel|default=''}" placeholder="请输入手机号" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item layui-inline">
                <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
            </div>
        </form>
    </fieldset>

    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">奖励报告</li>

        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <table id="demo0" lay-filter="test1"></table>
            </div>


        </div>
    </div>

    <script>
        $(function () {
            var table = layui.table;

            //第一个实例
            table.render({
                elem: '#demo0'
                ,where: {
                    iasjax:1,
                    level:1,
                    addtime:"{$Think.get.addtime}",
                    type:"{$Think.get.type|default='18'}",
                    username:"{$Think.get.username}",
                    tel:"{$Think.get.tel}",
                }
                ,height: 512
                ,totalRow: true
                ,url: '/admin/users/caiwu_bonus' //数据接口
                ,page: true //开启分页
                ,cols: [[ //表头
                    {field: 'id', title: 'ID', width:100, sort: true, fixed: 'left'}
                    ,{field: 'username', title: '账号',totalRowText: '合计' }
                    ,{field: 'tel', title: '手机号',totalRowText: '合计' }
                    ,{field: 'oid', title: '订单编号',sort: true}
                    ,{field: 'num', title: '金额',sort: true,totalRow: true}
                    ,{field: 'type', title: '类型'}
                    ,{field: 'status', title: '状态' }
                    ,{field: 'addtime', title: '发生时间',width:150 }
                ]]
            });

        })
    </script>
    <script>
        var test = "{$Think.get.type|default='18'}";
        $("#selectList").find("option[value="+test+"]").prop("selected",true);
        form.render()
    </script>


</div>
{/block}
