{extend name='main'}

{block name="button"}

{if auth("add_users")}
<button data-modal='{:url("add_users")}' data-title="添加会员" class='layui-btn'>添加会员</button>
{/if}

{/block}

{block name="content"}
<style>
    .layui-table tbody tr td:nth-child(2) .layui-table-cell, .layui-table tbody tr td:nth-child(3) .layui-table-cell {
        text-overflow: unset;
    }
</style>
<div class="think-box-shadow">
    {include file='users/index_search'}
    <table class="layui-table margin-top-15" lay-filter="tab" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th lay-data="{field:'id',width:80,sort:true,fixed:'left',align:'center'}" class='text-left nowrap'>ID</th>
            <th lay-data="{field:'tel'}" class='text-left nowrap'>账号</th>
            <th lay-data="{field:'username'}" class='text-left nowrap'>用户名</th>
            <th lay-data="{field:'real_name'}" class='text-left nowrap'>姓名/昵称</th>
            <th lay-data="{field:'is_jia',width:80}" class='text-left nowrap'>状态</th>
            <th lay-data="{field:'parent_name'}" class='text-left nowrap'>上级用户</th>
            <th lay-data="{field:'balance',sort:true}" class='text-left nowrap'>账户余额</th>
            <th lay-data="{field:'freeze_balance',sort:true}" class='text-left nowrap'>冻结金额</th>
            <th lay-data="{field:'point',sort:true}" class='text-left nowrap'>积分</th>
            <th lay-data="{field:'freeze_point',sort:true}" class='text-left nowrap'>冻结积分</th>
            <th lay-data="{field:'total_recharge'}" class='text-left nowrap'>总充值</th>
            <th lay-data="{field:'total_withdraw'}" class='text-left nowrap'>总提现</th>
            <!-- <th lay-data="{field:'total_present'}" class='text-left nowrap'>总赠送</th> -->
            <th lay-data="{field:'profit',sort:true}" class='text-left nowrap'>总盈利</th>            
            <!-- <th lay-data="{field:'total_order_count'}" class='text-left nowrap'>抢单数</th> -->
            <!-- <th lay-data="{field:'lixibao_balance',sort:true}" class='text-left nowrap'>利息宝金额</th> -->
            <th lay-data="{field:'invite_code'}" class='text-left nowrap'>邀请码</th>
            <th lay-data="{field:'addtime',width:200}" class='text-left nowrap'>注册时间</th>
            <th lay-data="{field:'ip'}" class='text-left nowrap'>最后登录ip</th>
            <th lay-data="{field:'edit',width:280,fixed: 'right'}" class='text-left nowrap'>操作</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>

            <td class='text-left nowrap'>{$vo.id}</td>
            <td class='text-left'>{if ($vo.is_jia == 1 && $vo.is_free == 0)}<font style='color:red;'>{$vo.tel}</font>{elseif($vo.is_jia == 1 && $vo.is_free == 1)}<font style='color:#ff8f00;'>{$vo.tel}</font>{elseif ($vo.parent_id == 0)}<font style='color:#009688;'>{$vo.tel}</font>{else}{$vo.tel}{/if}</td>
            <td class='text-left'>{$vo.username}</td>
            <td class='text-left nowrap'>{$vo.real_name|default="-"}/{$vo.nickname|default="-"}</td>
            <td class='text-left nowrap'>
                {if $vo.is_agent>0}
                <a class="layui-btn layui-btn-danger layui-btn-xs" >
                    代理{if $vo.is_jia>0}/假人{/if}
                </a>
                {else}
                <a class="layui-btn layui-btn-normal layui-btn-xs" >
                    真人{if $vo.is_jia>0}/假人{/if}
                </a>
                {/if}
            </td>
            <td class='text-left nowrap'>{$vo.parent_name}</td>
            <td class='text-left nowrap'>{$vo.balance}</td>
            <td class='text-left nowrap'>{$vo.freeze_balance}</td>
            <td class='text-left nowrap'>{$vo.point}</td>
            <td class='text-left nowrap'>{$vo.freeze_point}</td>
            <td class='text-left nowrap'>{$vo.total_recharge}</td>
            <td class='text-left nowrap'>{$vo.total_withdraw}</td>
            <!-- <td class='text-left nowrap'>{$vo.total_present}</td> -->
            <td class='text-left nowrap'>{$vo.profit}</td>            
            {php}/*<td class='text-left nowrap'>{$vo.total_order_count}</td>*/{/php}
            <!-- <td class='text-left nowrap'>{$vo.lixibao_balance}</td> -->            
            <td class='text-left nowrap'>{$vo.invite_code}</td>
            <td class='text-left nowrap'>
                {$vo.addtime|format_datetime}
            </td>

            <td class='text-left nowrap'>{$vo.ip}</td>
            
            <td class='text-left nowrap'>
                {if auth("edit_users")}
                <a data-dbclick class="layui-btn layui-btn-xs layui-btn-danger" data-title="暗扣设置" data-modal='{:url("admin/users/edit_users_ankou")}?id={$vo.id}'>暗扣设置</a>
                <a data-dbclick class="layui-btn layui-btn-xs" data-title="编辑菜单" data-modal='{:url("admin/users/edit_users")}?id={$vo.id}'>编 辑</a>

                {if ($vo.status == 1) and auth("edit_users_status")}
                <a class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('edit_users_status',['status'=>2,'id'=>$vo.id])}" data-value="id#{$vo.id};status#2" style='background:red;'>禁用</a>
                {elseif ($vo.status == 2) and auth("edit_users_status") /}
                <a class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('edit_users_status',['status'=>1,'id'=>$vo.id])}" data-value="id#{$vo.id};status#1" style='background:green;'>启用</a>
                {/if}





                <a data-dbclick class="layui-btn layui-btn-xs" data-title="银行卡信息" data-modal='{:url("admin/users/edit_users_bk")}?id={$vo.id}'>银行卡信息</a>
                <a data-dbclick class="layui-btn layui-btn-xs layui-btn-danger" data-title="收货地址信息" data-modal='{:url("admin/users/edit_users_address")}?id={$vo.id}'>地址信息</a>

                <a class="layui-btn layui-btn-xs layui-btn" onClick="del_user({$vo.id})" style='background:red;'>删除</a>

                {/if}
                <a class="layui-btn layui-btn-xs layui-btn" data-action="{:url('edit_users_ewm',['status'=>2,'id'=>$vo.id])}" data-value="id#{$vo.id};status#{$vo.invite_code}" style='background:red;'>刷新二维码</a>

                {if auth("tuandui")}
                <a data-dbclick class="layui-btn layui-btn-xs layui-btn-danger" data-title="查看团队" data-reload="true" data-open='{:url("admin/users/tuandui")}?id={$vo.id}'>查看团队</a>                
                {/if}
                <a data-dbclick class="layui-btn layui-btn-xs layui-btn-normal" data-title="查看账变" data-reload="true" data-open='{:url("admin/users/caiwu")}?id={$vo.id}'>账变</a>
                <a data-dbclick class="layui-btn layui-btn-xs layui-btn-normal" data-title="查看积分账变" data-reload="true" data-open='{:url("admin/users/caiwu_point")}?id={$vo.id}'>积分账变</a>

                {if ($vo.is_jia == 1) and auth("edit_users_status")}
                <a class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('edit_users_status2',['status'=>-1,'id'=>$vo.id])}" data-value="id#{$vo.id};status#-1" style='background:red;'>设为真人</a>
                {else/}
                {if $vo.is_agent != 1}
                <a class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('edit_users_agent',['status'=>1,'id'=>$vo.id])}" data-value="id#{$vo.id};status#1" style='background:green;'>设为代理</a>
                {else}
                <a class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('edit_users_agent',['status'=>0,'id'=>$vo.id])}" data-value="id#{$vo.id};status#0" style='background:green;'>设为会员</a>
                {/if}
                <a class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('edit_users_status2',['status'=>1,'id'=>$vo.id])}" data-value="id#{$vo.id};status#1" style='background:green;'>设为假人</a>
                {/if}

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    <script>
        function del_user(id){
            layer.confirm("确认要删除吗，删除后不能恢复",{ title: "删除确认" },function(index){
                $.ajax({
                    type: 'POST',
                    url: "{:url('delete_user')}",
                    data: {
                        'id': id,
                        '_csrf_': "{:systoken('admin/users/delete_user')}"
                    },
                    success:function (res) {
                        layer.msg(res.info,{time:2500});
                        location.reload();
                    }
                });
            },function(){});
        }
    </script>
    <script>
        var table = layui.table;
        //转换静态表格
        var limit = Number('{$Think.get.limit}');
        if(limit==0) limit=20;
        table.init('tab', {
            cellMinWidth:120,
            skin: 'line,row',
            size: 'lg',
            limit: limit
        });


    </script>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
{/block}
