{extend name='main'}

{block name="button"}

{if auth("add_users")}
<button data-modal='{:url("add_users")}' data-title="添加会员" class='layui-btn'>添加会员</button>
{/if}

{/block}

{block name="content"}
<style>
    .layui-table tbody tr td:nth-child(2) .layui-table-cell, .layui-table tbody tr td:nth-child(3) .layui-table-cell {
        text-overflow: unset;
    }
</style>
<div class="think-box-shadow">
    {include file='users/kyc_search'}
    <table class="layui-table margin-top-15" lay-filter="tab" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th lay-data="{field:'id',width:80,sort:true,fixed:'left',align:'center'}" class='text-left nowrap'>ID</th>
            <th lay-data="{field:'tel'}" class='text-left nowrap'>手机号</th>
            <th lay-data="{field:'username'}" class='text-left nowrap'>用户名</th>
            <th lay-data="{field:'name'}" class='text-left nowrap'>姓名</th>
            <th lay-data="{field:'id_no'}" class='text-left nowrap'>身份证号码</th>
            <th lay-data="{field:'pic'}" class='text-left nowrap'>KYC 图</th>
            <th lay-data="{field:'status',width:100}" class='text-left nowrap'>状态</th>
            <th lay-data="{field:'remark'}" class='text-left nowrap'>备注</th>
            <th lay-data="{field:'regtime',width:200}" class='text-left nowrap'>注册时间</th>
            <th lay-data="{field:'addtime',width:200}" class='text-left nowrap'>提交时间</th>
            <th lay-data="{field:'endtime',width:200}" class='text-left nowrap'>处理时间</th>
            <th lay-data="{field:'edit',width:280,fixed: 'right'}" class='text-left nowrap'>操作</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>

            <td class='text-left nowrap'>{$vo.id}</td>
            <td class='text-left nowrap'>{$vo.tel}</td>
            <td class='text-left nowrap'>{$vo.username}</td>
            <td class='text-left nowrap'>{$vo.name|default="-"}</td>
            <td class='text-left nowrap'>{$vo.id_no}</td>
            <td>
                <a href="{:config('image_upload')}{$vo['pic']}" target="_blank">
                    <img src="{:config('image_upload')}{$vo['pic']}" width="100px">
                </a>
            </td>
            <td class='text-left nowrap'>
                {if $vo.status == 1}
                <a class="layui-btn layui-btn-warn layui-btn-xs" >
                    等待审核
                </a>
                {elseif $vo.status == 2}
                <a class="layui-btn layui-btn-success layui-btn-xs" >
                    审核通过
                </a>
                {else}
                <a class="layui-btn layui-btn-normal layui-btn-xs" >
                    审核失败
                </a>
                {/if}
            </td>
            <td class='text-left'>{$vo.remark}</td>
            <td class='text-left nowrap'>{$vo.regtime|format_datetime}</td>
            <td class='text-left nowrap'>{$vo.addtime|format_datetime}</td>
            <td class='text-left nowrap'>{$vo.endtime|format_datetime}</td>

            <td class='text-left nowrap'>
                <a data-csrf="{:systoken('admin/users/edit_kyc')}" class="layui-btn layui-btn-xs layui-btn" data-action="{:url('edit_kyc',['status'=>2,'id'=>$vo.id])}" data-value="id#{$vo.id};status#2" >通过</a>
                <a class="layui-btn layui-btn-xs layui-btn-warm" data-title="驳回" data-modal='{:url("admin/users/reject_kyc")}?id={$vo.id}'>驳回</a>

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    <script>
        var table = layui.table;
        //转换静态表格
        var limit = Number('{$Think.get.limit}');
        if(limit==0) limit=20;
        table.init('tab', {
            cellMinWidth:120,
            skin: 'line,row',
            size: 'lg',
            limit: limit
        });


    </script>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
{/block}
