<form class="layui-form layui-card" action="{:url('edit_kyc')}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label label-required">用户名</label>
            <div class="layui-input-block">
                <input value="{$user['username']}" class="layui-input" disabled>
                <input type="hidden" name="_csrf_" value="{:systoken('admin/users/edit_kyc')}">
                <input name="status" value="3" type="hidden">
                <input name="id" value="{$info.id}" type="hidden">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">手机号码</label>
            <div class="layui-input-block">
                <input value="{$user.tel}"  class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">姓名</label>
            <div class="layui-input-block">
                <input value="{$info.name}"  class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">身份证号码</label>
            <div class="layui-input-block">
                <input value="{$info.id_no}"  class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">KYC图</label>
            <div class="layui-input-block">
                <a href="{:config('image_upload')}{$info['pic']}" target="_blank">
                    <img src="{:config('image_upload')}{$info['pic']}" width="100px">
                </a>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">备注</label>
            <div class="layui-input-block">
                <textarea name="remark" class="layui-textarea" rows="3"></textarea>
            </div>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>驳回</button>
        <button class="layui-btn layui-btn-danger" type='button' data-close>取消</button>
    </div>

    <script>window.form.render();</script>

</form>
