<style>
{if $appname eq 'dypf'}
    :root {
        --primary:#DA9F27;
    }
{elseif $appname eq 'prime'}
    :root {
        --primary:#00a8e1;
        --gold:#00a8e1;
        --text-color: #fff;
        --blue: #0A153D;
        --white: #fff;
        --blue2: rgba(0, 168, 225, 0.2);
    }
{elseif $appname eq 'apple_movie'}
    :root {
        --primary:#000000;
        --gold:#fa586a;
        --blue: #1f1f1f;
        --text-color: #fff;
        --white: #fff;
    }
{elseif $appname eq 'firstboxoffice'}
    :root {
        --primary:#FF2C23;
        --gold:#FF2C23;
    }
{/if}
</style>
{if in_array($appname, ['dypf_indon'])}
<style>
    .home-btn {
        white-space: normal;
        text-align: center;
        /*padding: 0 10px !important;*/
        width: auto;
    }
    .home-btn label {
        /*vertical-align: -webkit-baseline-middle;*/
    }
    #account-grid > .account-grid {
        text-align: center;
    }
    #top-movie-list label {
        white-space: normal;
    }
    #top-movie-list .number {
        width: 15% !important;
    }
    .report div[data-v-b7e8b406] {
        height: 105px;
    }
    .info_name, .info_store, .money, .info_num {
        font-size: 14px !important;
    }
    {if cookie('think_var') == 'yn'}
    .home-btn {
        padding: 12px 5px !important;
    }
    .home-btn label {
        font-size: 14px;
    }
    {/if}
</style>
{elseif in_array($appname, ['prime', 'apple_movie'])}
<style>
    body, html {
        background-color: var(--blue) !important;/*#e8e8e8;*/
    }
    #app .main, .records_box, .van-list__placeholder,
    .records .records_box .records_tabs .records_tabs_box .records_tabs_box_des[data-v-35ad745e] {
        background: var(--blue) !important;/*#e8e8e8 !important;*/
    }
    .bg-gray-black, .bg-black, .records_tabs_box, .tab-header, .head[data-v-530a0f34], .Cash_num {
        background: var(--blue) !important;
    }
    .swiper-container {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }    
    .home-btn, .btn.btn-primary, .save-btn {
        background: var(--primary) !important;        
    }
    .home-btn {
        background: transparent !important;
        border-bottom: 2.28px solid var(--primary) !important;
        border-radius: 0 !important;
    }
    .home-btn label {
        color: var(--light-gray) !important;
    }
    #button-buy-div {
        background: var(--blue) !important;
    }
    .bink_card > h3 {
        background: var(--blue) !important;
        background-color: var(--blue) !important; 
    }
    .bink_card > ul, .bink_card > ul > li {
        background: var(--blue2) !important;   
    }
    .bink_card > ul > li {
        align-items: center;
        display: flex;
    }
    .bink_card_ul li h4[data-v-cc2885a2] {
        color: var(--white);
    }
    .bink_card_ul li input[data-v-cc2885a2], .bink_card select {
        background: var(--white) !important;
        border-radius: 10px;
        height: 30px !important;
        color: var(--black) !important;
        padding: 0 5px;
        width: 6rem;
    }
    #button-buy-div {
        position: relative;
    }
    #button-buy {
        border-radius: 10px;
    }
    .card, .my-meun>.meun-item, .money-bg, .pagination-container {
        background: var(--light-gray) !important;
        background-color: var(--light-gray) !important;
    }
    .card {
        background-color: var(--blue) !important;
        /*box-shadow: 0 0px 4px 0 rgb(255 255 255 / 90%);*/
    }
    .text-white {
        color: var(--text-color) !important;
    }
    .text-gray {
        color: var(--dark) !important;
    }
    .layui-m-layerchild, .layui-layer, .layui-layer-title {
        background-color: var(--light-gray) !important;
    }
    .form-control {
        background-color: #e8e8e8 !important;
    }
    .layui-m-layerbtn {
        background-color: var(--light-gray) !important;
        border-color: #e8e8e8 !important;
    }
    .layui-m-layerbtn span {
        border-color: #e8e8e8 !important;   
    }
    .list-group-item {
        background: var(--light-gray) !important;
    }
    .my-index .text-white, .my-index p, p.title {
        color: white !important;
    }
    #account-grid .border-bottom {
        border:  none;
    }
    .footer-box {
        background: var(--white) !important;
        box-shadow: 1px 2px 3px 4px #e8e8e8 !important;
    }
    textarea, .balance, .report p[data-v-b7e8b406] {
        color: var(--text-color);
    }
    #livechat2, #add-img {
        background: #e8e8e8 !important;
    }
    .van-list > div[data-v-35ad745e] {
        /*border-bottom: 1px solid #e8e8e8;*/
    }
    .report div {
        border-color: #e8e8e8 !important;
        background: var(--white) !important;
        background-color: var(--white) !important;
    }
    .mint-navbar, .mint-tab-container-wrap {
        background: var(--light-gray) !important;
    }
    .mint-tab-container-item li {
        border-bottom-color: #e8e8e8 !important;
    }
    .Notice_ul[data-v-b0857b18] {
        background-color: var(--light-gray) !important;
    }
    #app.login .form-control, #app.register .form-control {
        background-color: var(--light-gray) !important;
    }
    .keep-password-tips {
        color: var(--text-color);
    }
    .slider-contianer {
        height: 450px !important;
    }
    .swiper-container .swiper-slide img {
        /*height: 100%;*/
        height: 450px;
        /*max-height: 450px !important;*/
    }
    .home-content {
        margin-top: 0 !important;
    }
    .home-content > div {
        justify-content: space-between;
    }
    #movie-slider .swiper-slide img {
        border-radius: 0;
    }
    #top-movie-list p, #top-movie-list label {
        margin: 3px 0;
    }
    #top-movie-list .hide-long-text p {
        font-size: 12px !important;
    }
    #top-movie-list .hide-long-text label {
        font-size: 18px;
        font-weight: 700;
    }
    #top-movie-list img {
        width: 100%;
        padding: 10px;
        border-radius: 15px;
    }
    #top-movie-list .btn-buy {
        border-radius: 10px !important;
        position: absolute;
        bottom: 5px;
        right: 0;
    }
    .header, .Notice_ul[data-v-b0857b18] {
        background-color: var(--blue) !important;
        padding: 0 20px;
    }
    .user-header {
        box-shadow: none !important;
        height: 90px !important;
    }
    .user-header img {
        height: 49px !important;
    }    
    .main .header-title {
        padding-left: 20px;
        font-size: 24px;
    }
    .Notice_ul p.title {
        margin-top: inherit;
        background: transparent;
        text-align: left;
    }
    .Notice_ul .txt > p.bgimage {
        height: 121px;
        margin: 5px 0;
    }
    .Notice_ul .txt p {
        height: inherit;
    }
    .Notice_ul div.content {
        width: 50%;
    }
    .Notice_ul div.content p {
        height: auto;
        margin: 5px 0;
        max-height: 47px;
    }
    .layui-m-layerchild, .layui-layer, .layui-layer-title {
        background-color: var(--blue) !important;
    }
    .layui-m-layerbtn span[no] {
        color: var(--black) !important;
    }
    #max {
        color: var(--black) !important;
    }
    #progress-bar, .progress-bar {
        height: 5px;
    }
    .records_box {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .records .records_box .records_tabs .records_tabs_box .records_tabs_box_des[data-v-35ad745e] {
        background: transparent !important;
        justify-content: space-between;
        padding: 0 !important;
    }
    .records .records_box .records_tabs .records_tabs_box .tabs_box_des_r_pic[data-v-35ad745e] {
        display: block;
    }
    .records .records_box .records_tabs .records_tabs_box .tabs_box_des_r_pic[data-v-35ad745e] label {
        font-size: 12px;
        white-space: nowrap;
    }
    .records .records_box .records_tabs .records_tabs_box .tabs_box_des_r_pic[data-v-35ad745e] div {
        margin-top: 5px;
    }
    .records_tabs, .records_tabs_box {
        background: var(--blue2) !important;
        border-radius: 0;
    }
    .records_tabs_box .btn.btn-success {
        color: var(--black);
        background: var(--white);
        font-size: 14px;
        padding: 2px 17px !important;
        font-weight: 700;
        height: 23px;
    }
    .btn-invite {
        float: right;
        padding: 3px 10px;
        font-size: 14px;
        font-weight: 700;
        margin-top: -25px;
    }
    .my-wallet {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background: var(--white);
        height: 43px;
        padding: 10px;
        border-radius: 10px;
    }
    .my-wallet label {
        font-size: 14px;
        font-weight: 700;
        color: var(--blue);
        background: var(--white);
    }
    .account-grid a svg {
        width: 50px !important;
        height: 50px !important;
        color: var(--blue) !important;
        padding: 5px;
        border-radius: 33%;
        background: var(--white);
    }
    .font-24 {
        font-size: 24px;
    }
    .font-12 {
        font-size: 12px;
    }
    .font-14 {
        font-size: 14px;
    }
    .font-18 {
        font-size: 18px;   
    }
    .fw-400 {
        font-weight: 400;
    }
    .fw-600 {
        font-weight: 600;
    }
    .fw-700 {
        font-weight: 700;
    }
    .fw-900 {
        font-weight: 900;
    }
    .form-control input {
        color: var(--black) !important;
    }
    .rate {
        border: 1px solid var(--gold);
        padding: 0px 6px;
        border-radius: 5px;
        color: var(--gold);
        width: 100px;
        height: 17px;
        font-size: 12px !important;
        text-align: center;
    }
    .my-meun, .money-bg {
        margin-left: 0;
        margin-right: 0;
    }
    .my-meun>.meun-item, .money-bg, .open_Lottery_ul li {
        background: var(--blue2) !important;
        background-color: var(--blue2) !important;
    }
    .my-meun>.meun-item>.item-line {
        border-bottom: 1px solid var(--blue2);
    }
    .my-meun .item-line input[type="password"] {
        width: min-content;
        background: var(--white);
        border-radius: 20px;
        text-align: right;
        padding-right: 10px;
        color: var(--black) !important;
    }
    .pagination-container>ul>li>a, .pagination-container>ul>li>span {
        color: var(--white);        
    }
    .pagination-container>ul>li>span {
        background: var(--gold);
        color: var(--black);
    }
    .card {
        box-shadow: none;
    }
    .report div[data-v-b7e8b406] {
        width:  100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 38px;
        border-color: var(--blue2) !important;
    }
    .report p, .report p[data-v-b7e8b406], .report div, .report .d p[data-v-b7e8b406] {
        color: var(--blue) !important;
        font-size: 14px;
        font-weight: 700;
    }
    .report {
        border-top: none !important;
        margin-top: 10px;
    }
    .report div:first-child {
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
    }
    .report div:last-child {
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;
    }
    .mint-button {
        background-color: var(--blue) !important;
        opacity: 1;
        border: none !important;
        box-shadow: none;
    }
    .mint-navbar, .mint-tab-container-wrap {
        background: var(--blue) !important;
    }
    .mint-button.on label {
        color: var(--gold) !important;            
    }
    .mint-button.on {
        border-bottom: 2px solid var(--gold) !important;
    }
    .mint-tab-container-item li {
        border-bottom-color: transparent !important;
    }
    #invite-body canvas {
        padding: 5px;
        background: var(--white);
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .address, .goods-info {
        background: var(--blue) !important;
        background-color: var(--blue) !important;
    }
</style>
{if in_array($appname, ['apple_movie'])}
<style>
    .footer-box {
        background: #444 !important;
        box-shadow: 1px 2px 3px 4px #444!important;
    }
    .footer-box .text-gray {
        color: white !important;
    }
    .user-header img {
        height: 80px !important;
    }
    .form-control {
        background: black !important;
    }
    .form-control input {
        color: var(--text-color) !important;
    }
    #forgetpwd-form .form-control input {
        color: var(--black) !important;
    }
    #group-username .label-primary {
        background: white;
    }
    #max {
        color: var(--text-color) !important;
    }
    .home-btn {
        border-bottom: 2.28px solid var(--gold) !important;
    }
    .pagination-container>span {
        color: black;
    }
</style>
{/if}
{/if}
<style>
    #app.invite .main {
        background: url(/public/img/new/{$appname}/invite_bg.jpg) center bottom !important;
        background-size: cover !important;
    }
    #app.invite .main, #app.invite .text-white {
        color: var(--light-gray) !important;
    }
</style>
{if !in_array($appname, ['dypf','dypf_indon','firstboxoffice','prime','apple_movie'])}
<link href="__ROOT__/public/css/{$appname}/custom2.css?v=1.5" rel="stylesheet">
{/if}