<script charset="utf-8" src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

<style>
    .footer-box {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: #757575;
        background: #fff;
        box-shadow: 1px 2px 3px 4px #f5f5f5;
        height: 60px !important;
        z-index: 10 !important;
    }

    .footer-box ul {
        overflow: hidden;
        padding: .08rem 0
    }

    .footer-box ul li {
        float: left;
        {if in_array($appname, ['apple_movie'])}
        width: calc((100vw)/6);
        {else}
        width: calc((100vw)/5);
        {/if}
        padding-top: .12rem;
        text-align: center;
    }

    .footer-box ul li img {
        width: auto;
        height: .66rem;
        display: none;
        margin: 0 auto;
        margin-bottom: 6px;
    }

    .footer-box ul li img:first-child,
    .footer ul li img:nth-child(2) {
        display: block
    }

    .footer-box ul li img:nth-child(2) {
        display: none
    }

    .footer-box ul li.on img:first-child,
    .footer ul li img:nth-child(2) {
        /*display: none*/
    }

    .footer-box ul li.on img:nth-child(2) {
        display: block
    }

    .footer-box ul li i{
        width:26px;
        height: 26px;
    }

    .footer-box ul li p {
        font-size: .28rem !important;
        text-align: center;
        margin-top: 3px;
    }

    .footer-box ul li.on p {
        color: #d38c2b
    }

    .mid-icon {
        position: absolute;
        bottom: .1rem;
        height: 2.2rem !important;
        width: 2.2rem !important;
    }

    .mid-icon-name {
        display: block;
        width: 2.2rem;
        position: absolute;
        text-align: center;
        bottom: .5rem;
        color: #fff !important;
    }
    #inbox-count {
        position: absolute;
        top: 0;
        display: none;
    }
</style>
{include file="public/css" /}
<div class="footer-box">
    <ul>
        <li onclick="window.location.href='{:url(\'index/home\')}'">
            {if in_array($appname, ['nolan_movie'])}
            <img src="/public/img/new/{$appname}/home{:strpos(url(\'index/home\'), $_SERVER['REQUEST_URI']) !== false  ? '' : '_white'}.png?v=1.2" width="20px">
            {else}
            <i data-feather="home" class='text-{:$_SERVER['REQUEST_URI'] === url(\'index/home\') ? 'gold' : 'gray'}'></i>
            {/if}
            <p class='text-{:$_SERVER['REQUEST_URI'] === url(\'index/home\') ? 'gold' : 'gray'}' >{:lang('Home')}</p>
        </li>
        <li onclick="window.location.href='{:url(\'invest/index\')}'">
            {if in_array($appname, ['prime', 'nolan_movie'])}
            <img src="/public/img/new/{$appname}/movie{:strpos(url(\'invest/index\'), $_SERVER['REQUEST_URI']) !== false  ? '' : '_white'}.png?v=1.2" width="20px">
            {else}
            <i data-feather="trending-up" class='text-{php} echo (strpos($_SERVER['REQUEST_URI'], url('invest/index')) !== false && (!isset($_GET['is_presale']) || $_GET['is_presale'] != '1')) ? 'gold' : 'gray' {/php}'></i>
            {/if}
            <!-- <img src="__ROOT__/public/img/new/nav/redemption.png" />
            <img src="__ROOT__/public/img/new/nav/redemption-s.png" /> -->
            <p  class='text-{php} echo (strpos($_SERVER['REQUEST_URI'], url('invest/index')) !== false && (!isset($_GET['is_presale']) || $_GET['is_presale'] != '1')) ? 'gold' : 'gray' {/php}' >{:lang('Movie Ticket')}</p>
        </li>
        {if in_array($appname, ['apple_movie'])}
        <li onclick="window.location.href='{:url(\'invest/index\')}?is_presale=1'">
            {if in_array($appname, ['prime', 'nolan_movie'])}
            <img src="/public/img/new/{$appname}/movie{:strpos(url(\'invest/index\'), $_SERVER['REQUEST_URI']) !== false  ? '' : '_white'}.png?v=1.2" width="20px">
            {else}
            <i data-feather="trending-up" class='text-{php} echo (strpos($_SERVER['REQUEST_URI'], url('invest/index')) !== false && (isset($_GET['is_presale']) && $_GET['is_presale'] == '1')) ? 'gold' : 'gray' {/php}'></i>
            {/if}
            <p  class='text-{php} echo (strpos($_SERVER['REQUEST_URI'], url('invest/index')) !== false && (isset($_GET['is_presale']) && $_GET['is_presale'] == '1')) ? 'gold' : 'gray' {/php}' >{:lang('合约')}</p>
        </li>
        {/if}
        <!-- <li onclick="window.location.href='{:url(\'rot_order/platform\')}'" style="width: 2.2rem !important;display: flex;align-items: center;flex-direction: column;justify-content: space-between;">
            <div class="bg-red" style="
                width: 58px;
                height: 58px; 
                border-radius: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: -27px;
                z-index: 1000;
                position: absolute;
            ">
                <img src="__ROOT__/public/img/new/nav/shop.png" style="width: 27px;height: auto;" />
            </div>
            <p style='margin-bottom: 0 !important;position: absolute;bottom:13px;'>{:lang('Shop')}</p>
        </li> -->
        <li onclick="window.location.href='{:url(\'invest/ranking\')}'">
            {if in_array($appname, ['prime', 'nolan_movie'])}
            <img src="/public/img/new/{$appname}/film{:strpos(url(\'invest/ranking\'), $_SERVER['REQUEST_URI']) !== false  ? '' : '_white'}.png?v=1.2" width="20px">
            {else}
            <i data-feather="film" class='text-{:$_SERVER['REQUEST_URI'] === url(\'invest/ranking\') ? 'gold' : 'gray'}'></i>
            {/if}
            <!-- <img src="__ROOT__/public/img/new/nav/record.png" />            <img src="__ROOT__/public/img/new/nav/record-s.png" /> -->
            <p class='text-{:strpos(url(\'invest/ranking\'), $_SERVER['REQUEST_URI']) !== false ? 'gold' : 'gray'}'>{:lang('Leaderboard')}</p>
        </li>
        <li onclick="window.location.href='{:url(\'inbox/index\')}'">
            <img src="/public/img/new/{$appname}/wechat{:strpos(url(\'inbox/index\'), $_SERVER['REQUEST_URI']) !== false  ? '' : '_white'}.png?v=1.2" width="20px">
            <p class='text-{:strpos(url(\'inbox/index\'), $_SERVER['REQUEST_URI']) !== false ? 'gold' : 'gray'}'>{:lang('Message')}<span id="inbox-count" class="badge badge-danger"></span></p>
        </li>
        <li onclick="window.location.href='{:url(\'my/index\')}'">
            {if in_array($appname, ['nolan_movie'])}
            <img src="/public/img/new/{$appname}/user{:strpos(url(\'my/index\'), $_SERVER['REQUEST_URI']) !== false  ? '' : '_white'}.png?v=1.2" width="20px">
            {else}
            <i data-feather="user" class='text-{:strpos(url(\'my/index\'), $_SERVER['REQUEST_URI']) !== false ? 'gold' : 'gray'}'></i>
            {/if}
            <!-- <img src="__ROOT__/public/img/new/nav/user.png" />
            <img src="__ROOT__/public/img/new/nav/user-s.png" /> -->
            <p class='text-{:strpos(url(\'my/index\'), $_SERVER['REQUEST_URI']) !== false ? 'gold' : 'gray'}'>{:lang('My')}</p>
        </li>
    </ul>
</div>

{if condition="$agreement"}
<script src="__ROOT__/public/js/layer_mobile/layer.js"></script>
<style>
    .layui-m-layercont {
        height: 50vh;
        overflow-y: scroll;
    }
</style>
<div id="agreement" style="display: none;">
    {$agreement|raw}
</div>
<script>
    $(function() {
         var index = layer.open({
            content: $('#agreement').html()
            ,btn: ["{:lang('I agree')}","{:lang('Cancel')}"]
            ,yes: function(){
                $.ajax({
                    url: "{:url('my/check_tnc')}",
                    timeout: 5000,
                    dataType:"json",
                    type: 'POST',
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.open({
                            content: data.info
                            , btn: "{:lang('Network problem,Try againt')}" + "2"
                        });
                    },
                    success: function (data) {
                        console.log(data);
                        if (data.code === 0) {
                            layer.close(index);
                        } else {
                            layer.open({
                                content: data.info
                                , btn: "{:lang('I Know')}"
                            });
                        }
                    }
                });
            }
            , no: function () {
                return false;
            }
        });
    });
</script>
{/if}
<script>
    var loadingUnread = false;
    feather.replace();
    {if condition="strpos($_SERVER['REQUEST_URI'], 'inbox') === false"}
    $(function() {
        getunread();
        setInterval(function() {
            getunread();
        }, 10000);
    });
    {/if}

    function getunread() {
        if (loadingUnread === true) {
            return;
        }
        loadingUnread = true;
        $.get('{:url("inbox/checkifunread")}', function(ret) {
            if (ret.info > 0) {
                $('#inbox-count').html(ret.info);
                $('#inbox-count').show();
                /*if ($('#unread').length == 0) {
                    var div = document.createElement('div');
                    div.id = "unread";
                    div.setAttribute('style', 'position: absolute; z-index: 99999; top: 100px; width: 50px;right: 10px; bottom: 65px;');
                    div.innerHTML = '<img src="/public/img/new/{$appname}/profile-user.png" width="32px" onclick="window.location.href=\'{:url('inbox/index')}\'" style="background: var(--black);border-radius: 100%; width: 100%; color: #DA9F27;">';    
                    $('body').append(div);
                    initDrag('unread');
                }*/
            } else {
                $('#inbox-count').html('');
                $('#inbox-count').hide();
            }
        });
    }
</script>
<!-- Start of LiveChat (www.livechatinc.com) code -->
<script>
    {php} if (strpos($_SERVER['REQUEST_URI'], 'inbox/index') !== false) {} else { {/php}

    window.__lc = window.__lc || {};
    window.__lc.license = '{:config("livechat_id")}';
    ;(function(n,t,c){function i(n){return e._h?e._h.apply(null,n):e._q.push(n)}var e={_q:[],_h:null,_v:"2.0",on:function(){i(["on",c.call(arguments)])},once:function(){i(["once",c.call(arguments)])},off:function(){i(["off",c.call(arguments)])},get:function(){if(!e._h)throw new Error("[LiveChatWidget] You can't use getters before load.");return i(["get",c.call(arguments)])},call:function(){i(["call",c.call(arguments)])},init:function(){var n=t.createElement("script");n.async=0,n.type="text/javascript",n.src="https://cdn.livechatinc.com/tracking.js",t.head.appendChild(n)}};!n.__lc.asyncInit&&e.init(),n.LiveChatWidget=n.LiveChatWidget||e}(window,document,[].slice))

    function onReady(initialData) {
        // Chat Widget is ready
        LiveChatWidget.call('hide');
        var div = document.createElement('div');
        div.id = "livechat";
        div.setAttribute('style', 'position: absolute; z-index: 99999; bottom: 0; width: 50px;right: 10px; bottom: 65px;');
        div.innerHTML = '<img id="livechat2" src="/public/img/new/{$appname}/cs2.png?v=2.6" onclick="openLivechat();" style="background: transparent !important;border-radius: 100%; width: 100%; height: 100%;color: #DA9F27;padding:0px;width:64px;">';    
        $('body').append(div);
        feather.replace();
        initDrag('livechat');

        LiveChatWidget.call('set_customer_name', "{$uinfo['username']}")
    }

    LiveChatWidget.on('ready', onReady);

    LiveChatWidget.on('visibility_changed', function(data) {
        if (data.visibility === 'minimized') {
            LiveChatWidget.call('hide');
        }
    })
    {php} } {/php}
</script>
<noscript><a href="https://www.livechatinc.com/chat-with/{:config("livechat_id")}/" rel="nofollow">Chat with us</a>, powered by <a href="https://www.livechatinc.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a></noscript>
<!-- End of LiveChat code -->

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    

    
// var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
// (function(){
// var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
// s1.async=true;
// s1.src='https://embed.tawk.to/609eb38bb1d5182476b8f494/1f5luqn6t';
// s1.charset='UTF-8';
// s1.setAttribute('crossorigin','*');
// s0.parentNode.insertBefore(s1,s0);
// })();

// //Example

// Tawk_API.onLoad = function(){
//     Tawk_API.hideWidget();
//     var div = document.createElement('div');
//     div.id = "livechat";
//     div.setAttribute('style', 'position: absolute; z-index: 99999; bottom: 0; width: 50px;right: 10px; bottom: 65px;');
//     // div.setAttribute('onmouseup', "openLivechat();");
//     div.innerHTML = '<i data-feather="message-circle" onclick="openLivechat();" style="background: var(--black);border-radius: 100%; width: 100%; height: 100%;color: #DA9F27;"></i>';    
//     $('body').append(div);

//     feather.replace();
//     initDrag('livechat');
// };

// Tawk_API.onChatMinimized = function(){
//     setTimeout(function() {
//         Tawk_API.hideWidget();
//     }, 0);
// };

function openLivechat() {
    // Tawk_API.maximize();
    LiveChatWidget.call('maximize');
}

function initDrag(id) {
    if (document.getElementById(id) === null) {
        setTimeout(function() {
            initDrag();
        }, 500);
        return;
    }
    
    var dragItem = document.getElementById(id).querySelector('img');
    var container = document.getElementById(id);

    var active = false;
    var currentX;
    var currentY;
    var initialX;
    var initialY;
    var xOffset = 0;
    var yOffset = 0;

    container.addEventListener("touchstart", dragStart, false);
    container.addEventListener("touchend", dragEnd, false);
    container.addEventListener("touchmove", drag, false);

    container.addEventListener("mousedown", dragStart, false);
    container.addEventListener("mouseup", dragEnd, false);
    container.addEventListener("mousemove", drag, false);

    function dragStart(e) {
      if (e.type === "touchstart") {
        initialX = e.touches[0].clientX - xOffset;
        initialY = e.touches[0].clientY - yOffset;
      } else {
        initialX = e.clientX - xOffset;
        initialY = e.clientY - yOffset;
      }

      if (e.target === dragItem) {
        active = true;
      }
    }

    function dragEnd(e) {
      initialX = currentX;
      initialY = currentY;

      active = false;
    }

    function drag(e) {
      if (active) {
      
        e.preventDefault();
      
        if (e.type === "touchmove") {
          currentX = e.touches[0].clientX - initialX;
          currentY = e.touches[0].clientY - initialY;
        } else {
          currentX = e.clientX - initialX;
          currentY = e.clientY - initialY;
        }

        xOffset = currentX;
        yOffset = currentY;

        setTranslate(currentX, currentY, dragItem);
      }
    }

    function setTranslate(xPos, yPos, el) {
      el.style.transform = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
    }
}
</script>
<!--End of Tawk.to Script-->