@charset "UTF-8";
body,
html {
  height: 100%;
  display: block;
}
body {
  background: url("../img/login/bg.jpg") no-repeat center center;
  background-size: cover;
}
.login-container {
  height: 100%;
}
.login-container .header {
  top: 0;
  left: 0;
  width: 100%;
  height: 47px;
  position: absolute;
  text-shadow: #000 0.1em 0.1em 0.1em;
}
.login-container .header .title {
  color: #fff;
  float: left;
  font-size: 18px;
  line-height: 47px;
  text-indent: 40px;
  letter-spacing: 1px;
}
.login-container .header a,
.login-container .header a:focus,
.login-container .header a:hover {
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
}
.login-container .header ul {
  float: right;
}
.login-container .header ul li {
  float: left;
  line-height: 47px;
  margin-left: 10px;
}
.login-container form {
  top: 50%;
  left: 50%;
  width: 300px;
  position: absolute;
  margin-top: -250px;
  margin-left: -150px;
}
.login-container form h2 {
  color: #fff;
  padding: 20px 0;
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
  text-shadow: #000 0.05em 0.05em 0.05em;
}
.login-container form ul li {
  position: relative;
  margin-top: 20px;
  text-shadow: #000 0.1em 0.1em 0.1em;
}
.login-container form ul li.verify label {
  width: 200px;
}
.login-container form ul li.verify input.layui-input {
  text-transform: uppercase;
}
.login-container form ul li.verify img {
  width: 95px;
  height: 44px;
  cursor: pointer;
  position: absolute;
  margin-left: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.login-container form ul li i.layui-icon {
  color: #fff;
  font-size: 18px;
  position: absolute;
  padding: 14px 15px 13px 20px;
}
.login-container form ul li input {
  color: #fff;
  height: 45px;
  padding: 0 15px;
  font-size: 14px;
  line-height: 1em;
  text-indent: 35px;
  border-radius: 6px;
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0.12);
  text-shadow: #000 0.1em 0.1em 0.1em;
  -webkit-text-fill-color: #fff !important;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3) inset !important;
}
.login-container form ul li input:hover,
.login-container form ul li input:focus,
.login-container form ul li input:active,
.login-container form ul li input:-webkit-autofill,
.login-container form ul li input:-webkit-autofill:hover,
.login-container form ul li input:-webkit-autofill:focus,
.login-container form ul li input:-webkit-autofill:active {
  text-shadow: #000 0.1em 0.1em 0.1em;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3) inset !important;
  -webkit-text-fill-color: #fff !important;
  -webkit-transition-delay: 9999s !important;
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out !important;
}
.login-container form ul li span {
  letter-spacing: 1px;
  color: #ff0 !important;
}
.login-container form ul li button {
  color: #333 !important;
  height: 45px !important;
  background: #fff !important;
  border-radius: 4px !important;
  letter-spacing: 1px !important;
  box-shadow: 0 15px 30px 0 hsla(0, 0%, 100%, 0.25) inset, 0 2px 7px 0 rgba(0, 0, 0, 0.2);
}
.login-container .footer {
  left: 0;
  bottom: 0;
  color: #fff;
  width: 100%;
  position: absolute;
  text-align: center;
  line-height: 30px;
  padding-bottom: 10px;
  text-shadow: #000 0.1em 0.1em 0.1em;
}
.login-container .footer a,
.login-container .footer span {
  color: #fff;
}
.login-container .footer a:hover {
  color: #ccc;
}
#supersized {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
  display: block;
  position: fixed;
  overflow: hidden;
}
#supersized img {
  border: 0;
  width: auto;
  height: auto;
  display: none;
  outline: 0;
  position: relative;
  max-width: none !important;
}
#supersized.speed img {
  image-rendering: -moz-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}
#supersized.quality img {
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: bicubic;
}
#supersized a,
#supersized li {
  width: 100%;
  height: 100%;
  display: block;
  cursor: default;
}
#supersized li {
  top: 0;
  left: 0;
  z-index: -30;
  position: fixed;
  overflow: hidden;
  list-style: none;
}
#supersized li.prevslide {
  z-index: -20;
}
#supersized li.prevslide img {
  display: inline;
}
#supersized li.activeslide {
  z-index: -10;
}
#supersized li.activeslide img {
  display: inline;
}
#supersized li.image-loading {
  width: 100%;
  height: 100%;
  background: url(../../plugs/supersized/progress.gif) no-repeat center center;
}
#supersized li.image-loading img {
  visibility: hidden;
}
#supersized-loader {
  top: 50%;
  left: 50%;
  z-index: 0;
  width: 60px;
  height: 60px;
  position: absolute;
  text-indent: -999em;
  margin: -30px 0 0 -30px;
  background: url(../../plugs/supersized/progress.gif) no-repeat center center;
}
/*# sourceMappingURL=login.css.map */