<style>
    .layui-m-layer2 .layui-m-layerchild {
        max-width: unset;
    }
    .layui-m-layercont {
        padding: 0;
    }
    .records_tabs_box {
        background-color: transparent;
    }
    .records .records_box .records_tabs .records_tabs_box .records_tabs_box_top[data-v-35ad745e] {
        font-size: inherit;
        font-family: inherit;
    }
    .records label {
        /*color: var(--black);*/
    }
    .records_box {
        padding: 0;
    }
    .records_tabs {
        margin-bottom: 0 !important;
    }
    .records .records_box .records_tabs .records_tabs_box .records_tabs_box_des .tabs_box_des_img[data-v-35ad745e],
    .records .records_box .records_tabs .records_tabs_box .records_tabs_box_des .tabs_box_des_img > img[data-v-35ad745e] {
        height: 100%;
    }
    .tabs_box_des_r_pic p {
        color: var(--text-color);
    }
</style>
<div class="records">
<div data-v-35ad745e="" class="records_box">
{php} $v = $info; {/php}
    <?php
$img= '/static_new6/img/succ.png';
$statusClass = '';
$statusMsg = '';
if($v['status']==0) {
    $img= '/static_new6/img/'.cookie('think_var').'_dai.png';
    $statusClass = 'btn-default';
    $statusMsg = lang('Waiting');
}
if($v['status']==1){
    $img= '/static_new6/img/'.cookie('think_var').'_succ.png';
    $statusClass = 'btn-success';
    $statusMsg = lang('Completed');
}
if($v['status']==5){
    $img= '/static_new6/img/'.cookie('think_var').'_dongjie.png';
    $statusClass = 'btn-info';
    $statusMsg = lang('Pending');
}
?>
    <div data-v-35ad745e="" class="records_tabs">
        <div data-v-35ad745e="" class="records_tabs_box">
            <div style='flex-direction: row;display: flex;justify-content: space-between;align-items: center;margin-bottom: 10px;'>
                <div data-v-35ad745e="" class="records_tabs_box_top" style="text-align: left;color: var(--text-color);">
                    {:lang('match time')}：{$v.addtime|date='Y-m-d H:i'}
                    <br /> {:lang('Data number')}：{$v.id}
                </div>
                <div>
                    <button style='padding:9px 9px;white-space: nowrap;' class="btn {$statusClass}">{$statusMsg}</button>
                </div>
            </div>
            <!---->
            <!-- <img data-v-35ad745e="" src="{$img}" class="records_tabs_box_img"> -->
            <div data-v-35ad745e="" class="records_tabs_box_des">
                <div data-v-35ad745e="" class="tabs_box_des_img">
                    <img data-v-35ad745e="" src="{$v.goods_pic}">
                </div>
                <div data-v-35ad745e="" class="tabs_box_des_r">
                    <p data-v-35ad745e="" class="tabs_box_des_r_tit">
                        {$v.goods_name}</p>
                    <div data-v-35ad745e="" class="tabs_box_des_r_pic flex-row" style='justify-content: flex-start;'>
                        <div style="margin-right: 25px;">
                            <label>{:lang('Price')}:</label>
                            <p data-v-35ad745e="">{:config("base_currency")} {$v.goods_price}
                            </p>
                        </div>
                        <div>
                            <label>{:lang('Order quantity')}:</label>
                            <p data-v-35ad745e="">x {$v.goods_count}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div data-v-35ad745e="" class="tabs_box_des_r_pic">
                <p data-v-35ad745e="" class="" style="color: var(--text-color);">{:lang('Order total amount')}
                </p>
                <p data-v-35ad745e="" style="color: var(--text-color);">{$currency}{$v.num}</p>
            </div>
            <!-- <div data-v-35ad745e="" class="tabs_box_des_r_pic">
                <p data-v-35ad745e="" class="gray">{:lang('commission')}</p>
                <p data-v-35ad745e="" class='text-red'>{$v.commission}</p>
            </div> -->
            <!-- <div data-v-35ad745e="" class="tabs_box_des_r_pic">
                <p data-v-35ad745e="" class="txt">{:lang('Expected return ')}
                </p>
                <p data-v-35ad745e="" class="txt1">{$v.commission+$v.num}
                </p>
            </div> -->
            <button data-v-35ad745e="" onclick="tijiao('{$v.id}')" class="redb" style="display: <?php echo $v['status']==0 ? 'block':'none'; ?>;padding: 3px 10px;border-radius: 5px;">
            {:lang('Submit order')}
        </button>
        </div>
        <!---->
    </div>
</div>
</div>