<style>
    .layui-input-block {
        padding: 5px 0;
    }
</style>
<form class="layui-form layui-card" action="" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label label-required">商品名称</label>
            <div class="layui-input-block">
                {$list.goods_name}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">商品链接</label>
            <div class="layui-input-block">
                <a href="{$list.materiaurl}" target="_blank">{$list.materiaurl}</a>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">收件人</label>
            <div class="layui-input-block">
                {$list.name}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">手机号码</label>
            <div class="layui-input-block">
                {$list.tel}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">地区</label>
            <div class="layui-input-block">
                {$list.area}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">地址</label>
            <div class="layui-input-block">
                {$list.address}
            </div>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button type="button" data-csrf="{:systoken('admin/shop/fahuo')}" class="layui-btn layui-btn layui-btn-success" data-action="{:url('fahuo')}" data-value="id#{$list.id};status#2">发货</button>
        <button class="layui-btn layui-btn-danger" type='button' data-close>关闭</button>
    </div>

    <script>window.form.render();</script>

</form>
