<style>
    .layui-input-block {
        padding: 5px 0;
    }
</style>
<form class="layui-form layui-card" action="" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label label-required">商品名称</label>
            <div class="layui-input-block">
                {$info.goods_name}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">商品链接</label>
            <div class="layui-input-block">
                <a href="{$info.materiaurl}" target="_blank">{$info.materiaurl}</a>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">图片</label>
            <div class="layui-input-block">
                <img src="{$info.picurl}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">单价</label>
            <div class="layui-input-block">
                {$info.price_after}
            </div>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn layui-btn-danger" type='button' data-close>关闭</button>
    </div>

    <script>window.form.render();</script>

</form>
