{extend name='main'}

{block name="content"}

  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">

  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-sm12">
        <div class="layui-card">
          <div class="layui-card-body">
            <div class="layui-row">
              <div class="layui-col-sm8">
                  <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-pagetwo">
                    <div carousel-item id="LAY-index-pagetwo">
                      <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <script src="../../layuiadmin/layui/layui.js"></script>  
  <script>
    var datevalue=[{foreach $datevalue as $key=>$months}'{$months}',{/foreach}];
    var czvalue=[{foreach $czvalue as $key=>$czv}{$czv},{/foreach}];
    var txvalue=[{foreach $txvalue as $key=>$txv}{$txv},{/foreach}];
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'sample']);

  </script>
{/block}
