<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label label-required">用户名</label>
            <div class="layui-input-block">
                <!-- <input name="username" required placeholder="请输入用户名" class="layui-input"> -->
                <textarea name="username" placeholder="请输入用户名" class="layui-textarea" rows="5"></textarea>
                <p class="text-danger">
                    * 如果要批量编辑用户，多个会员账号以半角逗号(,)分隔
                </p>
                {:token()}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">积分数额</label>
            <div class="layui-input-block">
                <input name="amount" required placeholder="请输入积分数额" class="layui-input" type="number" min="0">
            </div>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>提交</button>
        <button class="layui-btn layui-btn-danger" type='button' data-close>取消</button>
    </div>

    <script>window.form.render();</script>

</form>
