{extend name='main'}
{block name="button"}
            {if auth("do_deposit") }
            <div class="layui-form-item layui-inline" style="margin-right: 10px">
                <button data-action='{:url("do_deposit2")}' data-csrf="{:systoken('do_deposit2')}" data-rule="id#{key}" class='layui-btn layui-btn-sm layui-btn-danger'>批量通过</button>
                <button data-action='{:url("do_deposit3")}' data-csrf="{:systoken('do_deposit3')}" data-rule="id#{key}" class='layui-btn layui-btn-sm layui-btn-warning'>批量拒绝</button>
            </div>
            {/if}
{/block}
{block name="content"}

<style>
    .layui-btn+.layui-btn {
        margin-left: 0px;
    }
</style>
<div class="think-box-shadow">
    {include file='deal/deposit_list_search'}
    <table class="layui-table margin-top-15" lay-skin="line" style="table-layout: fixed;">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
            </th>

            <th class='text-left nowrap'>订单号</th>
            <th class='text-left nowrap'>提现用户</th>
            <th class='text-left nowrap'>提现金额</th>
            <th class='text-left nowrap'>手续费</th>
            <th class='text-left nowrap'>实际到账</th>
			
			<th class='text-left nowrap'>提现信息</th>
            <!--th class='text-left nowrap'>银行名称</th>
            <th class='text-left nowrap'>开户名称</th>
            <th class='text-left nowrap'>银行卡号</th>
            <th class='text-left nowrap'>联系电话</th-->
			
            <th class='text-left nowrap'>发起时间/处理时间</th>

            <th class='text-left nowrap'>方式</th>
            <th class='text-left nowrap'>备注</th>
            <th class='text-left nowrap'>订单状态</th>
            {if auth('do_deposit')}
                <th class='text-left nowrap'>操作</th>
            {/if}
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td think-checkbox'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'>
            </td>

            <td class='text-left ' style="word-break: break-all;    ">{$vo.id}</td>
            <td class='text-left nowrap'>{if ($vo.is_jia == 1 && $vo.is_free == 0)}<font style='color:red;'>{$vo.username}<br>{$vo.usertel}</font>{elseif($vo.is_jia == 1 && $vo.is_free == 1)}<font style='color:#ff8f00;'>{$vo.username}<br>{$vo.usertel}</font>{elseif ($vo.parent_id == 0)}<font style='color:#009688;'>{$vo.username}<br>{$vo.usertel}</font>{else}{$vo.username}<br>{$vo.usertel}{/if}</td>
            <td class='text-left nowrap'>{:config('base_currency')}{$vo.num}</td>
            <td class='text-left nowrap'>{$vo.shouxu*100}%</td>
            <td class='text-left nowrap'>{:config('base_currency')}{$vo.real_num}</td>
			<td class='text-left nowrap'>{$vo.bankname}<br>{$vo.site}<br>{$vo.address}<br>{$vo.cardnum}<br>{$vo.khname}<br>{$vo.tel}</td>
            <!--td class='text-left nowrap'>{$vo.bankname}</td>
            <td class='text-left nowrap'>{$vo.khname}</td>
            <td class='text-left nowrap'>{$vo.cardnum}</td>
            <td class='text-left nowrap'>{$vo.tel}</td-->
			
            <td class='text-left '>{$vo.addtime|format_datetime}<br>{$vo.endtime|format_datetime}</td>


            <td class='text-left nowrap'>

{switch $vo.type}
    {case wx}<span class="layui-btn layui-btn-xs">微信</span>{/case}
    {case zfb}<span class="layui-btn layui-btn-xs">支付宝</span>{/case}
    {case bipay}<span class="layui-btn layui-btn-xs">火币</span>{/case}
    {case huobi}<span class="layui-btn layui-btn-xs">火币</span>{/case}
    {case card}<span class="layui-btn layui-btn-xs">银联卡</span>{/case}
    {default /}<span class="layui-btn layui-btn-xs layui-btn-warm">线上</span>
{/switch}
</span>

            </td>
            <td class='text-left'>{$vo.remark}</td>
            <!-- <td class='text-left nowrap'>
                {if ($vo.type == 'wx') }
                <a data-dbclick data-title="查看图片" data-modal='{:url("admin/users/picinfo")}?pic={$vo.wx_ewm}'><img src="{$vo.wx_ewm}" style="width:150px;height:100px;"></a>
                {/if}

                {if ($vo.type == 'zfb') }
                <a data-dbclick data-title="查看图片" data-modal='{:url("admin/users/picinfo")}?pic={$vo.zfb_ewm}'><img src="{$vo.zfb_ewm}" style="width:150px;height:100px;"></a>
                {/if}
            </td> -->
            <td class='text-left nowrap'>
                {switch $vo.status}
                {case 1}待审核{/case}
                {case 2}<font style="color:#009688;">审核通过</font>{/case}
                {case 3}<font style="color:red;">审核驳回</font>{/case}
                {case 4}<font style="color:dodgerblue;">提现锁定</font>{/case}
                {/switch}
            </td>
            <td class='text-left'>
            {if ($vo.status == 1) and auth("do_deposit")}
                <a class="layui-btn layui-btn-xs layui-btn-normal" data-csrf="{:systoken('admin/deal/do_deposit')}" data-action="{:url('do_deposit')}" data-value="id#{$vo.id};status#4">提现锁定</a>
<!--                <a class="layui-btn layui-btn-xs" data-csrf="{:systoken('admin/deal/do_deposit')}" data-action="{:url('do_deposit')}" data-value="id#{$vo.id};status#2">通过</a>-->
                <!-- <a class="layui-btn layui-btn-xs layui-btn-warm" data-csrf="{:systoken('admin/deal/do_deposit')}" data-action="{:url('do_deposit')}" data-value="id#{$vo.id};status#3;uid#{$vo.uid};num#{$vo.num}">驳回</a> -->                
                &nbsp;<a data-dbclick class="layui-btn layui-btn-xs layui-btn-warm" data-title="驳回" data-modal='{:url("admin/deal/reject_deposit")}?id={$vo.id}'>驳回</a>
            {/if}
            {if ($vo.status == 4) and auth("do_deposit")}
                <a class="layui-btn layui-btn-xs" data-csrf="{:systoken('admin/deal/do_deposit')}" data-action="{:url('do_deposit')}" data-value="id#{$vo.id};status#2">通过</a>
                <!-- <a class="layui-btn layui-btn-xs layui-btn-warm" data-csrf="{:systoken('admin/deal/do_deposit')}" data-action="{:url('do_deposit')}" data-value="id#{$vo.id};status#3;uid#{$vo.uid};num#{$vo.num}">驳回</a> -->
                &nbsp;<a class="layui-btn layui-btn-xs" data-csrf="{:systoken('admin/deal/do_deposit')}" data-action="{:url('do_deposit')}" data-value="id#{$vo.id};status#5">代付</a>
                &nbsp;<a data-dbclick class="layui-btn layui-btn-xs layui-btn-warm" data-title="驳回" data-modal='{:url("admin/deal/reject_deposit")}?id={$vo.id}'>驳回</a>
            {/if}
            {if ($vo.status == 2) and auth("do_deposit")}
                <a class="layui-btn layui-btn-xs layui-btn-warm" data-csrf="{:systoken('admin/deal/do_deposit')}" data-action="{:url('do_deposit')}" data-value="id#{$vo.id};status#99">恢复锁定状态</a>
            {/if}
            {if ($vo.status == 5) and auth("do_deposit")}
            <a class="layui-btn layui-btn-xs">等待代付处理</a>
            {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
{/block}
