    <fieldset>
        <legend>条件搜索</legend>


        <form class="layui-form layui-form-pane form-search" action="{:url("deposit_list")}" onsubmit="return false" method="get" autocomplete="off">


            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">订单号</label>
                <div class="layui-input-inline">
                    <input name="oid" value="{$Think.get.oid|default=''}" placeholder="请输入订单号" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">用户名称</label>
                <div class="layui-input-inline">
                    <input name="username" value="{$Think.get.username|default=''}" placeholder="请输入用户名称" class="layui-input">
                </div>
            </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">手机号码</label>
            <div class="layui-input-inline">
                <input name="tel" value="{$Think.get.tel|default=''}" placeholder="请输入手机号码" class="layui-input">
            </div>
        </div>
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">发起时间</label>
                <div class="layui-input-inline">
                    <input data-date-range name="addtime" value="{$Think.get.addtime|default=''}" placeholder="请选择发起时间" class="layui-input">
                </div>
            </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">代理用户名</label>
            <div class="layui-input-inline">
                <input name="upusername" value="{$Think.get.upusername|default=''}" placeholder="请输入代理用户名" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <select name="d_status" id="selectList">
                    <option value="">全部</option>
                    <option value="1">待审核</option>
                    <option value="2">审核通过</option>
                    <option value="3">审核驳回</option>
                    <option value="4">提现锁定</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">是否包括水军数据</label>
            <div class="layui-input-inline">
                <select name="shuijun" id="shuijun">
                    <option value="">否</option>
                    <option value="1">是</option>
                </select>
            </div>
        </div>
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">提现信息</label>
                <div class="layui-input-inline">
                    <input name="khname" value="{$Think.get.khname|default=''}" placeholder="请输入提现信息" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
                {if auth("do_deposit") }
                <a href="/admin/deal/daochu.html?addtime={$Think.get.addtime|default=''}&username={$Think.get.username|default=''}&oid={$Think.get.oid|default=''}&tel={$Think.get.tel|default=''}&khname={$Think.get.khname|default=''}&d_status={$Think.get.d_status|default=''}&upusername={$Think.get.upusername|default=''}" class="layui-btn layui-btn-danger" ><i class="layui-icon">&#xe615;</i> 导 出</a>
                {/if}
            </div>
        </form>

<span class="layui-btn layui-btn-xs">未审核总额：{$depositsall|number_format=2}</span>
<span class="layui-btn layui-btn-xs layui-btn-danger">虚拟会员：{$depositsall-$deposits|number_format=2}</span>
<a data-open="{:url("deposit_list")}?yes_deposit=1" class="layui-btn layui-btn-xs layui-btn-normal">昨日未审核：{$yesdeposits|number_format=2}</a>
    </fieldset>
    
    <script>form.render()</script>
    <script>
        var test = "{$Think.get.d_status|default='0'}";
        $("#selectList").find("option[value="+test+"]").prop("selected",true);

        form.render()
    </script>