{extend name='main'}

{block name="button"}

    {if auth("add_goods")}
    <button data-open='{:url("add_goods")}' data-title="添加公告" class='layui-btn'>添加商品</button>
    {/if}

{/block}

{block name="content"}

<div class="think-box-shadow">
    {include file='deal/goods_search'}

    <table class="layui-table margin-top-15" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='text-left nowrap'>商品ID</th>
            <th class='text-left nowrap'>商品种类</th>
            <th class='text-left nowrap'>商品名称</th>
            <th class='text-left nowrap'>商品价格</th>
            <th class='text-left nowrap'>店铺名称</th>
            <th class='text-left nowrap'>添加时间</th>
            <th class='text-left nowrap'>状态</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-left nowrap'>{$vo.id}</td>
            <td class='text-left nowrap'>{$cate_[$vo['cat_id']]}</td>
            <td class='text-left nowrap'>{$vo.goods_name}</td>
            <td class='text-left nowrap'>¥{$vo.goods_price}</td>
            <td class='text-left nowrap'>{$vo.shop_name}</td>
            <td class='text-left nowrap'>
                {$vo.addtime|format_datetime}
            </td>
            <td class='text-left nowrap'>
            {if auth("edit_goods")}
                <a class="layui-btn layui-btn-xs layui-btn" data-open="{:url('edit_goods',['id'=>$vo.id])}" data-value="id#{$vo.id}" style='background:green;'>编辑</a>
            {/if}
            {if auth("del_goods")}
                <a class="layui-btn layui-btn-xs layui-btn" style='background:red;' onClick="del_goods({$vo.id})">删除</a>
            {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
<script>
    function del_goods(id){
         layer.confirm("确认要删除吗，删除后不能恢复",{ title: "删除确认" },function(index){
            $.ajax({
                type: 'POST',
                url: "{:url('del_goods')}",
                data: {
                    'id': id,
                    '_csrf_': "{:systoken('admin/deal/del_goods')}"
                },
                success:function (res) {
                    layer.msg(res.info,{time:2500});
                    location.reload();
                }
            });
        },function(){});
    }
</script>
{/block}
