<form class="layui-form layui-card" action="{:url('edit_recharge')}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label label-required">用户名</label>
            <div class="layui-input-block">
                <input value="{$user['username']}" class="layui-input" disabled>
                <input type="hidden" name="_csrf_" value="{:systoken('admin/deal/edit_recharge')}">
                <input name="status" value="3" type="hidden">
                <input name="id" value="{$info.id}" type="hidden">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">手机号码</label>
            <div class="layui-input-block">
                <input value="{$info.tel}"  class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">姓名</label>
            <div class="layui-input-block">
                <input value="{$info.real_name}"  class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">支付方式</label>
            <div class="layui-input-block">
                {php}echo $info['pay_name'] ? str_replace("|", "<br>", $info['pay_name']) . "<br>参考编码: " . $info['reference_number'] : ""; {/php}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">充值金额</label>
            <div class="layui-input-block">
                <input value="{$info.num}"  class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">备注</label>
            <div class="layui-input-block">
                <textarea name="remark" class="layui-textarea" rows="3"></textarea>
            </div>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>驳回</button>
        <button class="layui-btn layui-btn-danger" type='button' data-close>取消</button>
    </div>

    <script>window.form.render();</script>

</form>
