
<fieldset>
    <legend>条件搜索</legend>
    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">订单号</label>
            <div class="layui-input-inline">
                <input name="oid" value="{$Think.get.oid|default=''}" placeholder="请输入订单号" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input name="username" value="{$Think.get.username|default=''}" placeholder="请输入用户名" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">用户姓名</label>
            <div class="layui-input-inline">
                <input name="real_name" value="{$Think.get.real_name|default=''}" placeholder="请输入用户姓名" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">手机号码</label>
            <div class="layui-input-inline">
                <input name="tel" value="{$Think.get.tel|default=''}" placeholder="请输入手机号码" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">添加时间</label>
            <div class="layui-input-inline">
                <input data-date-range name="addtime" value="{$Think.get.addtime|default=''}" placeholder="请选择添加时间" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">代理用户名</label>
            <div class="layui-input-inline">
                <input name="upusername" value="{$Think.get.upusername|default=''}" placeholder="请输入代理用户名" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <select name="r_status" id="selectList">
                    <option value="">全部</option>
                    <option value="1">待审核</option>
                    <option value="2">审核通过</option>
                    <option value="3">审核驳回</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">是否包括水军数据</label>
            <div class="layui-input-inline">
                <select name="shuijun" id="shuijun">
                    <option value="">否</option>
                    <option value="1">是</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
            {if auth("do_recharge") }
            <a href="/admin/deal/recharge_daochu.html?addtime={$Think.get.addtime|default=''}&username={$Think.get.username|default=''}&oid={$Think.get.oid|default=''}&tel={$Think.get.tel|default=''}&shuijun={$Think.get.shuijun|default=''}&real_name={$Think.get.real_name|default=''}&upusername={$Think.get.upusername|default=''}" class="layui-btn layui-btn-danger" ><i class="layui-icon">&#xe615;</i> 导 出</a>
            {/if}
            <a data-open="{:url('deal/user_recharge_upload')}" class="layui-btn layui-btn-danger" data-title="文件上传">上传</a>
        </div>
    </form>
</fieldset>

<script>form.render()</script>
    <script>
        var test = "{$Think.get.r_status|default='0'}";
        $("#selectList").find("option[value="+test+"]").prop("selected",true);

        var shuijun = "{$Think.get.shuijun|default=''}";
        if (shuijun != '')
            $("#shuijun").find("option[value="+shuijun+"]").prop("selected",true);

        form.render()
    </script>
