{extend name='main'}

{block name="button"}

<button data-modal='{:url("add_recharge")}' data-title="手动充值" class='layui-btn'>手动充值</button>
<button data-modal='{:url("deduct_amount")}' data-title="手动扣除" class='layui-btn'>手动扣除</button>
{/block}

{block name="content"}

<div class="think-box-shadow">
    {include file='deal/user_recharge_search'}
    <table class="layui-table margin-top-15" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='text-left nowrap'>订单号</th>
            <th class='text-left nowrap'>充值用户</th>
													   
            <th class='text-left nowrap'>真实姓名</th>
            <th class='text-left nowrap'>交易数额</th>
<!--            <th class='text-left nowrap'>打款凭证</th>-->
            <th class='text-left nowrap'>添加时间</th>
            <th class='text-left nowrap'>支付方式</th>
            <th class='text-left nowrap'>类型</th>
            <th class='text-left nowrap'>处理时间</th>
            <!--th class='text-left nowrap'>二维码</th-->
            <th class='text-left nowrap'>操作</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-left nowrap'>{$vo.id}</td>
            <td class='text-left nowrap'>{if ($vo.is_jia == 1 && $vo.is_free == 0)}<font style='color:red;'>{$vo.username}<br>{$vo.tel}</font>{elseif($vo.is_jia == 1 && $vo.is_free == 1)}<font style='color:#ff8f00;'>{$vo.username}<br>{$vo.tel}</font>{elseif ($vo.parent_id == 0)}<font style='color:#009688;'>{$vo.username}<br>{$vo.tel}</font>{else}{$vo.username}<br>{$vo.tel}{/if}</td>
													   
            <td class='text-left nowrap'>{$vo.real_name}</td>
            <td class='text-left nowrap'>{$vo.num}</td>
<!--            <td class='text-left nowrap'>-->
<!--                {if $vo.pic}<a data-dbclick data-title="查看图片" data-modal='{:url("admin/users/picinfo")}?pic={$vo.pic}&id={$vo.id}'>&lt;!&ndash;img src="{$vo.pic}" style="width:150px;height:100px;"&ndash;&gt;查看凭证</a>{else /}<img src="{$vo.pic}" style="width:150px;height:100px;">{/if}-->
<!--            </td>-->
            <td class='text-left nowrap'>
                {$vo.addtime|format_datetime}
            </td>
            <td class='text-left nowrap'>
{switch $vo.pay_name}
    {case wx}<span class="layui-btn layui-btn-xs">微信</span>{/case}
    {case zfb}<span class="layui-btn layui-btn-xs">支付宝</span>{/case}
    {case huobi}<span class="layui-btn layui-btn-xs">火币</span>{/case}
	{case bipay}<span class="layui-btn layui-btn-xs">比特币</span>{/case}
    {case card}<span class="layui-btn layui-btn-xs">银联卡</span>{/case}
    {case upi_pay}<span class="layui-btn layui-btn-xs">upi_pay</span>{/case}
    {case pay}<span class="layui-btn layui-btn-xs">pay</span>{/case}
    {case new_pay}<span class="layui-btn layui-btn-xs">new_pay</span>{/case}
    {case new_pay_upi}<span class="layui-btn layui-btn-xs">new_pay_upi</span>{/case}
    {case pay10}<span class="layui-btn layui-btn-xs">pay10</span>{/case}
    {case pay11}<span class="layui-btn layui-btn-xs">pay11</span>{/case}
	{case 999}<span class="layui-btn layui-btn-xs layui-btn-warm">余额扣款</span>{/case}
    {case manual}<span class="layui-btn layui-btn-xs layui-btn-warm">手动充值</span>{/case}
    {default /}<span class="layui-btn layui-btn-xs layui-btn-danger" style="height: auto;">{php}echo $vo['pay_name'] ? str_replace("|", "<br>", $vo['pay_name']) . "<br>参考编码: " . $vo['reference_number'] : "出错"; {/php}</span>

{/switch}
               <!-- {$vo.pay_name|default="银行卡充值"}-->
            </td>

            <td class='text-left nowrap'>
                {if $vo.is_vip }
                <button class="layui-btn layui-btn-xs layui-btn layui-btn-warm">会员升级</button>
                {else/}
                <button class="layui-btn layui-btn-xs layui-btn layui-btn-danger">会员充值</button>
                {if condition="$vo.pic"}
                凭证:
                <a href="{$vo.pic}" target="_blank"><img src="{$vo.pic}" width="50px"></a>
                {/if}
                {/if}
            </td>



            <td class='text-left nowrap'>
                {$vo.endtime|format_datetime}
            </td>
            <td class='text-left nowrap'>
                {switch $vo.status}
                    {case 0}待付款{/case}
                    {case 2}<font style="color:#009688;">审核通过</font>{/case}
                    {case 3}<font style="color:red;">审核驳回</font> {if condition="$vo.error_msg"}{$vo.error_msg}{/if}{/case}
                {/switch}
                {if condition="$vo.pic"}
                <a class="layui-btn layui-btn-xs layui-btn-warm" href="{$vo.pic}" target="_blank" >查看凭证</a>
                {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
{/block}
