{extend name='admin@main'}

{block name="content"}
<form class="layui-form layui-card" action="{:request()->url()}" method="post" autocomplete="off" enctype="multipart/form-data">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label label-required">文件</label>
            <div class="layui-input-block">
                <input name="statement" required placeholder="文件" class="layui-file" type="file" accept=".xls,.xlsx,.csv">
                {:token()}
            </div>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>提交</button>
        <button class="layui-btn layui-btn-danger" type='button' data-close>取消</button>
    </div>

    <script>window.form.render();</script>

</form>
{/block}